<div class="container">
  <h2 class="text-center">Creditos</h2>
  <hr>
  <div class="text-center" *ngFor="let alert of alerts" style="z-index:10000;width:100%; ">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout"><h3>{{ alert.msg }}</h3></alert>
  </div>

</div>

<div class="container" style="overflow:scroll; height:1000px;">

  <div class="card-columns" >
    <div class="card" *ngFor="let credito of creditos">

      <div class="card-block">
        <div class="row">
          <img  src="assets/img/credit.png"  style="height:100px;margin-left:30px">

          <div class="col-7">
            <h4 class="card-title">{{credito.nombreCredito}}</h4>
            <p class="card-text">
              Monto minimo: {{credito.montoMax | currency:'USD':true }}<br>
              Monto máximo: {{credito.montoMinb | currency:'USD':true }}<br>
              Plazo: {{credito.plazo}} años
            </p>

          </div>

        </div>

        <div class="card-footer">
          <div  class="btn btn-primary  offset-1 col-4" (click)="openEdit(credito)" >Editar</div>
          <button type="button" class="btn btn-secondary col-5 offset-1" (click)="confDelete(credito)" >Eliminar</button>

        </div>
      </div>
    </div>
  </div>
</div>







<div bsModal #modalNew="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-12 text-center">Agregar Credito</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="newForm" (ngSubmit)="agregaCredito(newForm.value)"  >


            <div class="form-group row text-center" >
              <label class="col-5 col-form-label">Nombre Prestamo</label>
              <div class="col-6 has-success"  [ngClass]="{'has-danger': !newForm.get('nombreCredito').valid}">


                <input class="form-control"
                       type="text"
                       formControlName="nombreCredito" >
                       <div class="form-control-feedback" style="font-size:10px;"
                       *ngIf="!newForm.controls['nombreCredito'].valid">
                         El nombre es requerido
                       </div>
              </div>
            </div>


            <div class="form-group row text-center ">
            <label class="col-5 col-form-label">Monto Minimo</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !newForm.get('montoMin').valid}">
              <span class="input-group-addon">$</span>
              <input  class="form-control"
              formControlName="montoMin"
              currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !newForm.get('montoMin').valid}"
            *ngIf="!newForm.controls['montoMin'].valid">
              El monto es reuqerido
            </div>


          </div>




            <div class="form-group row text-center ">
            <label class="col-5 col-form-label">Monto Máximo</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !newForm.get('montoMax').valid}">
              <span class="input-group-addon">$</span>
              <input  class="form-control"
              formControlName="montoMax"
              currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !newForm.get('montoMax').valid}"
            *ngIf="!newForm.controls['montoMax'].valid">
              El monto es reuqerido
            </div>
          </div>

        <div class="" style="margin-bottom:20px">
          <div class="offset-1">
            <fieldset ngl-form-group label="Tipo de Credito"  class="slds-m-top--small">
              <ngl-form-group-element label="Intereses Inicial"><input nglFormControl type="radio" formControlName="tipo" value="1" /></ngl-form-group-element>
              <ngl-form-group-element label="Intereses en Periodo"><input nglFormControl type="radio" formControlName="tipo" value="2" /></ngl-form-group-element>
              <ngl-form-group-element label="Intereses Inicial y en Periodos"><input nglFormControl type="radio" formControlName="tipo" value="3" /></ngl-form-group-element>
            </fieldset>
          </div>
        </div>


          <!-- <fieldset class="form-group row">
     <label class="col-form-legend col-5 text-center">Tipo de Credito:</label>
     <div class="col-12 row">
         <div class="form-check col-12">
           <label class="form-check-label">
             <input class="form-check-input text-center" type="radio" name="tipo"  value="1" checked formControlName="tipo">
             Intereses Inicial
           </label>
         </div>


       <div class="form-check col-6 ">
         <label class="form-check-label text-center">
           <input class="form-check-input" type="radio" name="tipo" value="2" formControlName="tipo">
           Intereses en Periodos
         </label>
       </div>
       <div class="form-check col-6 ">
         <label class="form-check-label text-center">
           <input class="form-check-input" type="radio" name="tipo" value="3" formControlName="tipo">
           Intereses inicial y en Periodos
         </label>
       </div>
     </div>
   </fieldset> -->


            <div class="form-group row text-center " *ngIf="pagoAForm">
            <label class="col-5 col-form-label">Pago Anticipado</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !newForm.get('pagoAnticipado').valid}">
              <span class="input-group-addon">%</span>
              <input  class="form-control"
              formControlName="pagoAnticipado"
              currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !newForm.get('pagoAnticipado').valid}"
            *ngIf="!newForm.controls['pagoAnticipado'].valid">
              El pago es reuqerido
            </div>
          </div>


            <div class="form-group row text-center ">
            <label class="col-5 col-form-label">Descripción</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !newForm.get('pago').valid}">
              <span class="input-group-addon">D</span>
              <input type="text" class="form-control"
              formControlName="pago">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !newForm.get('pago').valid}"
            *ngIf="!newForm.controls['pago'].valid">
              La descripción es requerida
            </div>
          </div>

          <div class="container row" style="margin-top:20px">
            <div class="col-12">
                <div class="row" style="margin-top:10px">
                  <h6 class="col-12 text-left">Pagos de Credito:</h6>
                </div>
                <div class="row" style="margin-top:10px">
                  <div formArrayName="pagosCredito" >
                    <div *ngFor="let pago of newForm.controls.pagosCredito.controls; let i=index">
                      <div [formGroupName]="i">
                      <div class="row">
                        <div class="col-9">
                          <div class="form-group row text-center ">
                          <label class=" offset-2 col-3 col-form-label text-center">Pago {{i+1}}</label>

                          <div class="input-group col-7 has-success"
                          [ngClass]="{'has-danger': validaCampo(i,'pago')}">
                            <span class="input-group-addon">%</span>
                            <input  class="form-control"
                            formControlName="pago"
                            currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

                          </div>

                          <div class="form-control-feedback offset-7 text-center col-4 has-success"
                          style="font-size:10px;"
                          [ngClass]="{'has-danger': validaCampo(i,'pago')}"
                          *ngIf="validaCampo(i,'pago')">
                            El pago es requerido
                          </div>
                        </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-secondary" (click)="eliminaPagoNew(i)">Eliminar</button>
                        </div>

                      </div>




                      </div>

                    </div>
                  </div>
                </div>



            </div>

            <div class="row" style="margin-top:10px">
              <div class="col-4 offset-2">
                <button type="button" class="btn btn-primary" (click)="inputPago(editForm,0)">Agregar</button>
              </div>

            </div>





          </div>



            <div class="modal-footer">
              <button  type="button" class="btn btn-outline-secondary" (click)="modalNew.hide()">
              Cancelar
              </button>

              <button type="submit" class="btn btn-outline-primary" [disabled]="!newForm.valid" >
                Guardar
              </button>



            </div>
        </form>
      </div>
    </div>
  </div>
</div>








<div bsModal #modalEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-12 text-center">Editar Prestamos</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="editForm" (ngSubmit)="editaCredito(editForm.value)"  >

            <input type="number" formControlName="idCredito" hidden="true">

            <div class="form-group row text-center" >
              <label class="col-5 col-form-label">Nombre Prestamo</label>
              <div class="col-6 has-success"  [ngClass]="{'has-danger': !editForm.get('nombreCredito').valid}">


                <input class="form-control"
                       type="text"
                       formControlName="nombreCredito" >
                       <div class="form-control-feedback" style="font-size:10px;"
                       *ngIf="!editForm.controls['nombreCredito'].valid">
                         El nombre es requerido
                       </div>
              </div>
            </div>


            <div class="form-group row text-center ">
            <label class="col-5 col-form-label">Monto Minimo</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !editForm.get('montoMin').valid}">
              <span class="input-group-addon">P</span>
              <input  class="form-control"
              formControlName="montoMin"
              currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !editForm.get('montoMin').valid}"
            *ngIf="!editForm.controls['montoMin'].valid">
              El monto es reuqerido
            </div>


          </div>


            <div class="form-group row text-center ">
            <label class="col-5 col-form-label">Monto Máximo</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !editForm.get('montoMax').valid}">
              <span class="input-group-addon">P</span>
              <input  class="form-control"
              formControlName="montoMax"
              currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !editForm.get('montoMax').valid}"
            *ngIf="!editForm.controls['montoMax'].valid">
              El monto es reuqerido
            </div>
          </div>

            <div class="form-group row text-center " *ngIf="!(editForm.get('tipo')==2)">
            <label class="col-5 col-form-label">Pago Anticipado</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !editForm.get('pagoAnticipado').valid}">
              <span class="input-group-addon">%</span>
              <input  class="form-control"
              formControlName="pagoAnticipado"
              currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !editForm.get('pagoAnticipado').valid}"
            *ngIf="!editForm.controls['pagoAnticipado'].valid">
              El pago es requerido
            </div>
          </div>


            <div class="form-group row text-center ">
            <label class="col-5 col-form-label">Descripción</label>

            <div class="input-group col-6 has-success"
            [ngClass]="{'has-danger': !editForm.get('pago').valid}">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control"
              formControlName="pago">

            </div>

            <div class="form-control-feedback offset-7 text-center col-4 has-success"
            style="font-size:10px;"
            [ngClass]="{'has-danger': !editForm.get('pago').valid}"
            *ngIf="!editForm.controls['pago'].valid">
              La descripción es requerida
            </div>
          </div>

          <div class="col-12">
            <h5 class="text-left">Pagos:</h5>
            <div formArrayName="pagosCredito">
              <div *ngFor="let pago of editForm.controls.pagosCredito.controls; let i=index">

                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-9">
                      <div class="form-group row text-center ">
                      <label class="col-3 col-form-label">Pago {{i}}</label>

                      <div class="input-group col-8 has-success"
                      [ngClass]="{'has-danger': validaCampoEdit(i)}">
                        <span class="input-group-addon">%</span>
                        <input  class="form-control"
                        formControlName="pagosCredito"
                        currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }">

                      </div>

                      <div class="form-control-feedback offset-7 text-center col-4 has-success"
                      style="font-size:10px;"
                      [ngClass]="{'has-danger': validaCampoEdit(i)}"
                      *ngIf="validaCampoEdit(i)">
                        El interes es reuqerido
                      </div>
                    </div>

                    </div>

                    <div class="col-2">
                      <button type="button" class="btn btn-secondary" (click)="eliminaPagoEdit(i)">Eliminar</button>
                    </div>
                  </div>



                </div>

              </div>
            </div>

            <button type="button" class="btn btn-primary" (click)="inputPagoEdit()">Agregar</button>

          </div>




            <div class="modal-footer">
              <button  type="button" class="btn btn-outline-secondary" (click)="modalEdit.hide()">
              Cancelar
              </button>
              <button type="submit" class="btn btn-outline-primary" [disabled]="!editForm.valid" >
                Guardar
              </button>



            </div>
        </form>
      </div>
    </div>
  </div>
</div>







<div bsModal #modalConfDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class=" col-12 text-center">Confirmación</h4>
      </div>
      <div class="modal-body">


        <div class="row text-center">
          ¿Estas seguro que deseas eliminar el credito "{{creditoDelete.nombreCredito}}" ?
          <br>
        </div>
        <br>
        <div class="row">
          <button type="button" class="btn btn-secondary offset-2 col-3"  (click)="eliminaCredito(creditoDelete)">Si</button>
          <button type="button" class="btn btn-primary offset-2 col-3" (click)="modalConfDelete.hide()">No</button>
        </div>


      </div>
    </div>
  </div>
</div>


<button type="button" (click)="openNew()" class="btn btn-primary btn-floating">Agregar</button>
