<div class="row">
  <div class="col-12">
    <h2 class="col-12 text-center">Razones</h2>
    <hr>
  </div>
</div>


<div class="row">
  <div class="col-10 offset-1">
    <table class="table table-responsive">
      <thead>
        <th></th>
        <th>Per 1</th>
        <th>Per 2</th>
      </thead>


      <tr>
        <td>Solvencia</td>
      </tr>

      <tr>
        <td>Solvencia Inmediata</td>
      </tr>

      <tr>
        <td>Origen de Capital</td>
      </tr>

      <tr>
        <td>Valor de Capital</td>
      </tr>


      <tr>
        <td>Ventas a CC</td>
      </tr>


      <tr>
        <td>Ventas a CT</td>
      </tr>

      <tr>
        <td>Utilidad neta/CC</td>
      </tr>


      <tr>
        <td>Utilidad neta/Ventas</td>
      </tr>


      <tr>
        <td>Días promedio de cartera</td>
      </tr>

      <tr>
        <td>Días promedio de I.A.T.</td>
      </tr>


      <tr>
        <td>Días promedio de I.M.P.</td>
      </tr>


      <tr>
        <td>Días Promedio de C XP</td>
      </tr>

    </table>
  </div>
</div>
