<div class="row">

  <div class="col-lg-6 col-sm-12 " style="height:200px;">
    <table class="table table-sm" *ngFor= "let balance of balanceFinal">
      <tr>
        <th colspan="2" class="text-center">Activo</th>
      </tr>
      <tr>
        <td>Caja y Bancos</td>
        <td class="text-right">{{balance.cajaBancos|currency:'USD':true:'1.0-0'}}</td>
      </tr>
      <tr>
        <td>Cuentas Por Cobrar</td>
        <td class="text-right">{{balance.cuentasPorCobrar|currency:'USD':true:'1.0-0'}}</td>
      </tr>
      <tr>
        <td>IVA Acreditable</td>
        <td class="text-right">{{balance.IVAAcreditable|currency:'USD':true:'1.0-0'}}</td>
      </tr>
      <tr>
        <td>Almacen de Articulo Terminado</td>
        <td class="text-right">{{balance.almacenArtTerm|currency:'USD':true:'1.0-0'}}</td>
      </tr>
      <tr>
        <td>Almacen de Materiales</td>
        <td class="text-right">{{balance.almacenMateriales|currency:'USD':true:'1.0-0'}}</td>
      </tr>
    </table>
  </div>

  <div class="col-lg-6 col-sm-12 " style="height:200px;">

        <table class="table table-sm" *ngFor= "let balance of balanceFinal">
          <tr>
            <th colspan="2" class="text-center">Pasivo</th>
          </tr>
          <tr>
            <td>IVA por Enterar</td>
            <td class="text-right">{{balance.IVAPorEnterar|currency:'USD':true:'1.0-0'}}</td>
          </tr>
          <tr>
            <td>Impuestos por Pagar</td>
            <td class="text-right">{{balance.imptosPorPagar|currency:'USD':true:'1.0-0'}}</td>
          </tr>
          <tr>
            <td>Proveedores</td>
            <td class="text-right">{{balance.proveedores|currency:'USD':true:'1.0-0'}}</td>
          </tr>
          <tr>
            <td>PTU Por Pagar</td>
            <td class="text-right">{{balance.PTUPorPagar|currency:'USD':true:'1.0-0'}}</td>
          </tr>
          <tr>
            <td>Prestamos Bancarios</td>
            <td class="text-right">{{balance.prestamosMenosAnio|currency:'USD':true:'1.0-0'}}</td>
          </tr>
        </table>
  </div>




  <div class="card card-outline-primary col-7 text-center" style="height:300px">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-lg-12 col-sm-12 col-md-12  text-center">Demanda Potencial del Periodo </h5>
        </div>
        <div class="row">
          <div class="col-lg-7 col-sm-12 " style="height:200px;">
            <ngx-charts-bar-horizontal
                  [scheme]="colorScheme"
                  [results]="demandasGraf"
                  xAxis="true"
                  yAxis="true"
                  showXAxisLabel="true"
                  roundDomains="true"
                  showYAxisLabel="true"
                  xAxisLabel="Demnada Potencial(unidades)"
                  yAxisLabel="Productos">
                </ngx-charts-bar-horizontal>
          </div>

          <div class="col-lg-5 col-sm-8 " style="height:200px; overflow-y:scroll">
            <div class="card" *ngFor="let producto of demandas" style="margin-top:15px">
                {{getNameById(producto.idProducto)}}
                <div class="card-footer">
                  <table class="table">
                    <tr>
                      <th class="text-center">Zona</th>
                      <th class="text-center">Cantidad</th>
                    </tr>
                    <tr *ngFor="let zona of producto.zonas">
                      <td class="text-center">{{getNameByIdZona(zona.idZona)}}</td>
                      <td class="text-center">{{zona.demanda}}u</td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>

        </div>



      </blockquote>
    </div>
  </div>





          <div class="col-lg-5">
            <div class="card card-outline-secondary mb-3 text-center" style="height:300px">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <div class="card-header">
            <h5 class="col-12 text-center">Capacidad Instalada</h5>
      </div>

<div class="col-12" style="height:200px">
  <ngx-charts-bar-horizontal

        [scheme]="colorScheme2"
        [results]="maquinariasGraf"
        gradient="false"
        xAxis="true"
        yAxis="true"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxisLabel="Capacidad de Producción(unidades)"
        yAxisLabel="Productos">
      </ngx-charts-bar-horizontal>
</div>



    </blockquote>
  </div>
</div>
          </div>


          <div class="col-4" >
            <div class="card card-outline-secondary mb-3 text-center"
            style="height:250px;overflow:hidden">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="">
                    <h5 class="col-12 text-center">Productos Desarrollados</h5>
                    <hr>
                  </div>

                  <div class="row" style="overflow-y:scroll; height:170px;oveflow-x:visible">
                    <div class="col-4" *ngFor="let producto of productosDesarollados">
                      <div class="card">

                          <div class="col-12" style="margin-top:10px">
                            <img src="assets/img/box.png"  class="img-fluid">
                          </div>


                          <span class="text-center">{{getNameById(producto.idProducto)}}</span>



                      </div>
                      <!-- <div class="row">
                        <div class="col-6" >
                          <ngx-charts-pie-grid
                          [scheme]="colorScheme"
                          [results]="producto.graf"
                          designatedTotal="2">
                          </ngx-charts-pie-grid>
                        </div>
                        <div class="col-6">
                          <div class="row">
                            <div class="text-left col-12" style="font-size:13px; margin-top:30px">Periodos desarrollados: {{producto.max}}p <br></div>
                            <div class="text-left col-12" style="font-size:13px;margin-top:5px">Costo pagado: <br>{{producto.costoDes*producto.max |currency:'USD':true:'1.0-0'}}</div>

                          </div>
                        </div>
                      </div> -->


                    </div>

                  </div>

            </blockquote>
              </div>
            </div>
          </div>










          <div class="col-4" >
            <div class="card card-outline-secondary mb-3 text-center"
            style="height:250px;overflow:hidden" >
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="">
                    <h5 class="col-12 text-center">Opciones de Desarrollo de Productos</h5>
                    <hr>
                  </div>



                  <div class="row" style="overflow-y:scroll; height:160px;oveflow-x:visible">
                    <div class="col-12" *ngFor="let producto of productosSinDesarrollar">
                      <div class="card" style="margin-bottom:10px">
                        <div class="row align-items-center" >
                          <div class="col-3">
                            <img src="assets/img/box.png" class="img-fluid" style="margin-left:18px;margin-top:10px;margin-bottom:10px">
                          </div>
                          <div class="col-9">
                            <div class="row ">
                              <div class="text-left col-12" style="font-size:16px; margin-top:15px">{{producto.nombreProd}}</div>
                              <div class="text-left col-12" style="font-size:13px; margin-top:5px">Periodos a desarrollar: {{producto.tiempoDes}}p</div>
                              <div class="text-left col-12" style="font-size:13px;margin-top:5px">Costo por Periodo:{{producto.costoDes|currency:'USD':true:'1.0-0'}}</div>

                            </div>
                          </div>
                        </div>
                      </div>



                    </div>

                  </div>
                  <!-- <div class="col-12">
                    <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
                      <div class="col-6" *ngFor="let producto of productosSinDesGraf" >
                        <ngx-charts-pie-grid

                        [scheme]="colorScheme"
                        [results]="producto.graf"
                        [designatedTotal]="producto.max">
                        </ngx-charts-pie-grid>

                      </div>
                    </div>

                  </div> -->
                </blockquote>
              </div>
            </div>
  </div>


  <div class="col-4" >
    <div class="card card-outline-secondary mb-3 text-center"
    style="height:250px;overflow:hidden">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <div class="">
            <h5 class="col-12 text-center">Productos en Desarrollo</h5>
            <hr>
          </div>
          <div class="row" style="overflow-y:scroll; height:160px;oveflow-x:visible">
            <div class="col-12" *ngFor="let producto of productosEnDesGraf">
              <div class="row">
                <div class="col-6" >
                  <ngx-charts-pie-grid
                  [scheme]="colorScheme"
                  [results]="producto.graf"
                  designatedTotal="2">
                  </ngx-charts-pie-grid>
                </div>
                <div class="col-6">
                  <div class="row">

                    <div class="text-left col-12" style="font-size:13px; margin-top:5px">Periodos  desarrollados: {{producto.graf[0].value}} de {{producto.max}} <br></div>
                    <div class="text-left col-12" style="font-size:13px;margin-top:5px">Costo del Periodo: <br>{{producto.costoDes|currency:'USD':true:'1.0-0'}}</div>

                  </div>
                </div>
              </div>


            </div>

          </div>



          <!-- <div class="col-12">
            <div class="row" style="overflow-y:scroll;oveflow-x:hidden; height:200px">
              <div class="col-6" *ngFor="let producto of productosEnDesGraf">
                <ngx-charts-pie-grid
                [scheme]="colorScheme"
                [results]="producto.graf"
                [designatedTotal]="producto.max">
                </ngx-charts-pie-grid>

              </div>

            </div>

          </div> -->






        </blockquote>
      </div>
    </div>








  </div>



  <div class="col-4" >
    <div class="card card-outline-secondary mb-3 text-center"
    style="height:250px;overflow:hidden" >
      <div class="card-block">
        <blockquote class="card-blockquote">
          <div class="">
            <h5 class="col-12 text-center">Mercados Desarrollados</h5>
            <hr>
          </div>
          <div style="overflow-y:scroll; height:170px;oveflow-x:visible">
            <div class="col-12" *ngFor="let zona of productosZonaDesarrollados">
              <h6 style="margin-top:10px">{{zona.nombreZona}}</h6>
              <hr>
              <div class="row" style="margin-top:-5px">
                <div class="col-4" *ngFor="let producto of zona.productosDes">

                  <div class="card">

                      <div class="col-12" style="margin-top:10px">
                        <img src="assets/img/zone.png"  class="img-fluid">
                      </div>
                      <span class="text-center" style="font-size:12px">{{getNameById(producto)}}</span>
                  </div>
                  <!-- <div class="row">
                    <div class="col-6" >
                      <ngx-charts-pie-grid
                      [scheme]="colorScheme"
                      [results]="producto.graf"
                      designatedTotal="2">
                      </ngx-charts-pie-grid>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="text-left col-12" style="font-size:13px; margin-top:30px">Periodos a desarrollar: {{getTiempo(zona.idZona,producto.idProducto)}}p <br></div>
                        <div class="text-left col-12" style="font-size:13px;margin-top:5px">Costo de Periodo: <br>{{getCosto(zona.idZona,producto.idProducto)|currency:'USD':true:'1.0-0'}}</div>

                      </div>
                    </div>
                  </div> -->


                </div>

              </div>

            </div>
          </div>
<!--
          <div class="col-12">
            <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
              <div class="col-12" *ngFor="let zona of productosZonaDesGraf">
                <h6>{{zona.nombreZona}}</h6>
                <hr>
                <div class="row">
                  <div class="col-6" *ngFor="let producto of zona.productos">
                    <ngx-charts-pie-grid
                    [scheme]="colorScheme"
                    [results]="producto.graf"
                    designatedTotal="40">
                    </ngx-charts-pie-grid>


                  </div>
                </div>

              </div>



            </div>

          </div> -->
        </blockquote>
      </div>
    </div>
</div>


<div class="col-4" >
  <div class="card card-outline-secondary mb-3 text-center"
  style="height:250px;overflow:hidden" >
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="">
          <h5 class="col-12 text-center">Opciones de Desarrollo de Mercado</h5>
          <hr>
        </div>
        <div style="overflow-y:scroll; height:150px;oveflow-x:visible">
          <div class="col-12" *ngFor="let zona of productosZonaSinDesarrollar" >
            <h6 style="margin-top:0px">{{zona.nombreZona}}</h6>
            <hr>
            <div class="row">
              <div class="col-12" *ngFor="let producto of zona.productosSinDes">
                <div class="card" style="margin-bottom:10px">
                  <div class="row align-items-center">
                    <div class="col-3">
                      <img src="assets/img/zone.png" class="img-fluid" style="margin-left:18px;margin-top:10px;margin-bottom:10px">
                    </div>
                    <div class="col-9">
                      <div class="row ">
                        <div class="text-left col-12" style="font-size:16px; margin-top:15px">{{getNameById(producto)}}</div>
                        <div class="text-left col-12" style="font-size:13px; margin-top:5px">Periodos a desarrollar: {{getTiempo(zona.idZona,producto)}}p</div>
                        <div class="text-left col-12" style="font-size:13px;margin-top:5px">Costo por Periodo:{{getCosto(zona.idZona,producto)|currency:'USD':true:'1.0-0'}}</div>

                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>



        <!-- <div class="col-12">
          <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">


            <div class="col-12" *ngFor="let zona of productosZonaSinDesGraf">
              <h6>{{zona.nombreZona}}</h6>
              <hr>
              <div class="row">
                <div class="col-6" *ngFor="let producto of zona.productos">
                  <ngx-charts-pie-grid
                  [scheme]="colorScheme"
                  [results]="producto.graf"
                  designatedTotal="40">
                  </ngx-charts-pie-grid>


                </div>
              </div>

            </div>



          </div>

        </div> -->
      </blockquote>
    </div>
  </div>
</div>



<div class="col-4" >
  <div class="card card-outline-secondary mb-3 text-center"
  style="height:250px;overflow:hidden">
    <div class="card-block" >
      <blockquote class="card-blockquote">
        <div class="">
          <h5 class="col-12 text-center">Mercados en Desarrollo</h5>
          <hr>
        </div>
        <div style="overflow-y:scroll; height:180px;oveflow-x:visible">
          <div class="col-12" *ngFor="let zona of productosZonaEnDesGraf">
            <h6 style="margin-top:15px">{{zona.nombreZona}}</h6>
            <hr>
            <div class="row">
              <div class="col-12" *ngFor="let producto of zona.productos">
                <div class="row">
                  <div class="col-6" >
                    <ngx-charts-pie-grid
                    [scheme]="colorScheme"
                    [results]="producto.graf"
                    [designatedTotal]="producto.max">
                    </ngx-charts-pie-grid>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="text-left col-12" style="font-size:13px; margin-top:30px">Periodos Desarrollados: <br>{{producto.graf[0].value}} de {{producto.max}}</div>
                      <div class="text-left col-12" style="font-size:13px;margin-top:5px">Costo de Periodo: <br>{{getCosto(zona.idZona,producto.idProducto)|currency:'USD':true:'1.0-0'}}</div>

                    </div>
                  </div>
                </div>


              </div>

            </div>

          </div>
        </div>

      </blockquote>
    </div>
  </div>
</div>





          </div>
