<div class="">
<div class="row">



  <div class="col-5" style="height:250px">
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="single"
      gradient="true">
    </ngx-charts-advanced-pie-chart>
  </div>


  <div class="col-5 offset-1">
    <ngx-charts-advanced-pie-chart
      [scheme]="colorScheme"
      [results]="single"
      gradient="true">
    </ngx-charts-advanced-pie-chart>
  </div>

  <div class="card card-outline-primary col-7 text-center" style="height:300px">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-lg-12 col-sm-12 col-md-12  text-center">Demanda Potencial del Periodo </h5>
        </div>
        <div class="row">
          <div class="col-lg-7 col-sm-12 " style="height:200px;">
            <ngx-charts-bar-horizontal
                  [scheme]="colorScheme"
                  [results]="demandasGraf"
                  xAxis="true"
                  yAxis="true"
                  showXAxisLabel="true"
                  roundDomains="true"
                  showYAxisLabel="true"
                  xAxisLabel="Demnada Potencial"
                  yAxisLabel="Productos">
                </ngx-charts-bar-horizontal>
          </div>

          <div class="col-lg-5 col-sm-8 " style="height:200px; overflow-y:scroll">
            <table class="table table-responsive" style="margin-top:10px">
    <thead class="thead-inverse">
      <tr>
        <th>Productos</th>
        <th>Zona 1</th>
        <th>Zona 2</th>
        <th>Zona 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Producto 1</th>
        <th>18,000</th>
        <td>20,000</td>
        <td>5,000</td>
      </tr>
      <tr>
        <th>Producto 2</th>
        <th>18,000</th>
        <td>20,000</td>
        <td>5,000</td>
      </tr>
      <tr>
        <th>Producto 3</th>
        <th>18,000</th>
        <td>20,000</td>
        <td>5,000</td>
      </tr>
      <tr>
        <th>Producto 4</th>
        <th>18,000</th>
        <td>20,000</td>
        <td>5,000</td>
      </tr>
    </tbody>
  </table>

          </div>

        </div>



      </blockquote>
    </div>
  </div>





          <div class="col-lg-5">
            <div class="card card-outline-secondary mb-3 text-center" style="height:300px">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <div class="card-header">
            <h5 class="col-12 text-center">Capacidad Instalada</h5>
      </div>

<div class="col-12" style="height:200px">
  <ngx-charts-bar-horizontal

        [scheme]="colorScheme2"
        [results]="maquinariasGraf"
        gradient="false"
        xAxis="true"
        yAxis="true"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxisLabel="Demnada Potencial"
        yAxisLabel="Productos">
      </ngx-charts-bar-horizontal>
</div>



    </blockquote>
  </div>
</div>
          </div>


          <div class="col-4" >
            <div class="card card-outline-secondary mb-3 text-center"
            style="height:250px;overflow:hidden">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="card-header">
                    <h5 class="col-12 text-center">Productos Desarrollados</h5>
                  </div>

                  <div class="col-12">
                    <div class="row" style="overflow-y:scroll;oveflow-x:hidden; height:200px">
                      <div class="col-6" *ngFor="let producto of productosDesGraf">
                        <ngx-charts-pie-grid
                        [scheme]="colorScheme"
                        [results]="producto.graf"
                        [designatedTotal]="producto.max">
                        </ngx-charts-pie-grid>

                      </div>

                    </div>

                  </div>






                </blockquote>
              </div>
            </div>








          </div>










          <div class="col-4" >
            <div class="card card-outline-secondary mb-3 text-center"
            style="height:250px;overflow:hidden" >
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="card-header">
                    <h5 class="col-12 text-center">Opciones de Desarrollo de Productos</h5>
                  </div>

                  <div class="col-12">
                    <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
                      <div class="col-6" *ngFor="let producto of productosSinDesGraf" >
                        <ngx-charts-pie-grid

                        [scheme]="colorScheme"
                        [results]="producto.graf"
                        [designatedTotal]="producto.max">
                        </ngx-charts-pie-grid>

                      </div>
                    </div>

                  </div>
                </blockquote>
              </div>
            </div>
  </div>


  <div class="col-4" >
    <div class="card card-outline-secondary mb-3 text-center"
    style="height:250px;overflow:hidden">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <div class="card-header">
            <h5 class="col-12 text-center">Productos en Desarrollo</h5>
          </div>

          <div class="col-12">
            <div class="row" style="overflow-y:scroll;oveflow-x:hidden; height:200px">
              <div class="col-6" *ngFor="let producto of productosEnDesGraf">
                <ngx-charts-pie-grid
                [scheme]="colorScheme"
                [results]="producto.graf"
                [designatedTotal]="producto.max">
                </ngx-charts-pie-grid>

              </div>

            </div>

          </div>






        </blockquote>
      </div>
    </div>








  </div>



  <div class="col-4" >
    <div class="card card-outline-secondary mb-3 text-center"
    style="height:250px;overflow:hidden" >
      <div class="card-block">
        <blockquote class="card-blockquote">
          <div class="card-header">
            <h5 class="col-12 text-center">Mercados Desarrollados</h5>
          </div>

          <div class="col-12">
            <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
              <div class="col-6" >
                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="single3"
                designatedTotal="2000000">
                </ngx-charts-pie-grid>

              </div>

              <div class="col-6" style="height:auto">


                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="single3"
                designatedTotal="2000000">
                </ngx-charts-pie-grid>

              </div>

              <div class="col-6" style="height:auto">


                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="single3"
                designatedTotal="2000000">
                </ngx-charts-pie-grid>

              </div>
            </div>

          </div>
        </blockquote>
      </div>
    </div>
</div>


<div class="col-4" >
  <div class="card card-outline-secondary mb-3 text-center"
  style="height:250px;overflow:hidden" >
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-12 text-center">Opciones de Desarrollo de Mercado</h5>
        </div>

        <div class="col-12">
          <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
            <div class="col-6" >
              <ngx-charts-pie-grid

              [scheme]="colorScheme"
              [results]="single3"
              designatedTotal="2000000">
              </ngx-charts-pie-grid>

            </div>

            <div class="col-6" style="height:auto">


              <ngx-charts-pie-grid

              [scheme]="colorScheme"
              [results]="single3"
              designatedTotal="2000000">
              </ngx-charts-pie-grid>

            </div>

            <div class="col-6" style="height:auto">


              <ngx-charts-pie-grid

              [scheme]="colorScheme"
              [results]="single3"
              designatedTotal="2000000">
              </ngx-charts-pie-grid>

            </div>
          </div>

        </div>
      </blockquote>
    </div>
  </div>
</div>



<div class="col-4" >
  <div class="card card-outline-secondary mb-3 text-center"
  style="height:250px;overflow:hidden" >
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-12 text-center">Mercados en Desarrollo</h5>
        </div>

        <div class="col-12">
          <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
            <div class="col-6" >
              <ngx-charts-pie-grid

              [scheme]="colorScheme"
              [results]="single3"
              designatedTotal="2000000">
              </ngx-charts-pie-grid>

            </div>

            <div class="col-6" style="height:auto">


              <ngx-charts-pie-grid

              [scheme]="colorScheme"
              [results]="single3"
              designatedTotal="2000000">
              </ngx-charts-pie-grid>

            </div>

            <div class="col-6" style="height:auto">


              <ngx-charts-pie-grid

              [scheme]="colorScheme"
              [results]="single3"
              designatedTotal="2000000">
              </ngx-charts-pie-grid>

            </div>
          </div>

        </div>
      </blockquote>
    </div>
  </div>
</div>





          </div>









</div>
