<div class="row">

  <div class="col-lg-6 col-sm-12 " style="height:200px;">
    <!-- <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="pasivo">
      </ngx-charts-advanced-pie-chart> -->

      <table class="table table-sm" *ngFor= "let balance of balanceFinal">
        <tr>
          <th colspan="2" class="text-center">Pasivo</th>
        </tr>
        <tr>
          <td>IVA por Enterar</td>
          <td>{{balance.IVAPorEnterar}}</td>
        </tr>
        <tr>
          <td>Proveedores</td>
          <td>{{balance.proveedores}}</td>
        </tr>
        <tr>
          <td>Impuestos por Pagar</td>
          <td>{{balance.imptosPorPagar}}</td>
        </tr>
        <tr>
          <td>Prestamos Más de un Año</td>
          <td>{{balance.prestamosMasAnio}}</td>
        </tr>
        <tr>
          <td>Prestamos Menos de un Año</td>
          <td>{{balance.prestamosMenosAnio}}</td>
        </tr>
      </table>
  </div>

  <div class="col-lg-6 col-sm-12 " style="height:200px;">
    <!-- <ngx-charts-bar-horizontal
          [scheme]="colorScheme"
          [results]="activos"
          xAxis="true"
          yAxis="true"
          showXAxisLabel="true"
          roundDomains="true"
          showYAxisLabel="true"
          xAxisLabel="Demnada Potencial"
          yAxisLabel="Productos">
        </ngx-charts-bar-horizontal> -->
        <!-- <ngx-charts-advanced-pie-chart
            [scheme]="colorScheme"
            [results]="activos">
          </ngx-charts-advanced-pie-chart> -->
        <table class="table table-sm" *ngFor= "let balance of balanceFinal">
          <tr>
            <th colspan="2" class="text-center">Activo</th>
          </tr>
          <tr>
            <td>Caja y Bancos</td>
            <td>{{balance.cajaBancos}}</td>
          </tr>
          <tr>
            <td>Cuentas Por Cobrar</td>
            <td>{{balance.cuentasPorCobrar}}</td>
          </tr>
          <tr>
            <td>IVA Acreditable</td>
            <td>{{balance.IVAAcreditable}}</td>
          </tr>
          <tr>
            <td>Almacen de Articulo Terminado</td>
            <td>{{balance.almacenArtTerm}}</td>
          </tr>
          <tr>
            <td>Almacen de Materiales</td>
            <td>{{balance.almacenMateriales}}</td>
          </tr>
        </table>
  </div>




  <div class="card card-outline-primary col-7 text-center" style="height:300px">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-lg-12 col-sm-12 col-md-12  text-center">Demanda Potencial del Periodo </h5>
        </div>
        <div class="row">
          <div class="col-lg-7 col-sm-12 " style="height:200px;">
            <ngx-charts-bar-horizontal
                  [scheme]="colorScheme"
                  [results]="demandasGraf"
                  xAxis="true"
                  yAxis="true"
                  showXAxisLabel="true"
                  roundDomains="true"
                  showYAxisLabel="true"
                  xAxisLabel="Demnada Potencial(unidades)"
                  yAxisLabel="Productos">
                </ngx-charts-bar-horizontal>
          </div>

          <div class="col-lg-5 col-sm-8 " style="height:200px; overflow-y:scroll">
            <div class="card" *ngFor="let producto of demandas" style="margin-top:15px">
                {{getNameById(producto.idProducto)}}
                <div class="card-footer">
                  <table class="table">
                    <tr>
                      <th class="text-center">Zona</th>
                      <th class="text-center">Cantidad</th>
                    </tr>
                    <tr *ngFor="let zona of producto.zonas">
                      <td class="text-center">{{getNameByIdZona(zona.idZona)}}</td>
                      <td class="text-center">{{zona.demanda}}u</td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>

        </div>



      </blockquote>
    </div>
  </div>





          <div class="col-lg-5">
            <div class="card card-outline-secondary mb-3 text-center" style="height:300px">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <div class="card-header">
            <h5 class="col-12 text-center">Capacidad Instalada</h5>
      </div>

<div class="col-12" style="height:200px">
  <ngx-charts-bar-horizontal

        [scheme]="colorScheme2"
        [results]="maquinariasGraf"
        gradient="false"
        xAxis="true"
        yAxis="true"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxisLabel="Capacidad de Producción(unidades)"
        yAxisLabel="Productos">
      </ngx-charts-bar-horizontal>
</div>



    </blockquote>
  </div>
</div>
          </div>


          <div class="col-4" >
            <div class="card card-outline-secondary mb-3 text-center"
            style="height:250px;overflow:hidden">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="card-header">
                    <h5 class="col-12 text-center">Productos Desarrollados</h5>
                  </div>

                  <div class="col-12">
                    <div class="row" style="overflow-y:scroll;oveflow-x:hidden; height:200px">
                      <div class="col-6" *ngFor="let producto of productosDesGraf">
                        <ngx-charts-pie-grid
                        [scheme]="colorScheme"
                        [results]="producto.graf"
                        [designatedTotal]="producto.max">
                        </ngx-charts-pie-grid>

                      </div>

                    </div>

                  </div>






                </blockquote>
              </div>
            </div>
          </div>










          <div class="col-4" >
            <div class="card card-outline-secondary mb-3 text-center"
            style="height:250px;overflow:hidden" >
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <div class="card-header">
                    <h5 class="col-12 text-center">Opciones de Desarrollo de Productos</h5>
                  </div>

                  <div class="col-12">
                    <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
                      <div class="col-6" *ngFor="let producto of productosSinDesGraf" >
                        <ngx-charts-pie-grid

                        [scheme]="colorScheme"
                        [results]="producto.graf"
                        [designatedTotal]="producto.max">
                        </ngx-charts-pie-grid>

                      </div>
                    </div>

                  </div>
                </blockquote>
              </div>
            </div>
  </div>


  <div class="col-4" >
    <div class="card card-outline-secondary mb-3 text-center"
    style="height:250px;overflow:hidden">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <div class="card-header">
            <h5 class="col-12 text-center">Productos en Desarrollo</h5>
          </div>

          <div class="col-12">
            <div class="row" style="overflow-y:scroll;oveflow-x:hidden; height:200px">
              <div class="col-6" *ngFor="let producto of productosEnDesGraf">
                <ngx-charts-pie-grid
                [scheme]="colorScheme"
                [results]="producto.graf"
                [designatedTotal]="producto.max">
                </ngx-charts-pie-grid>

              </div>

            </div>

          </div>






        </blockquote>
      </div>
    </div>








  </div>



  <div class="col-4" >
    <div class="card card-outline-secondary mb-3 text-center"
    style="height:250px;overflow:hidden" >
      <div class="card-block">
        <blockquote class="card-blockquote">
          <div class="card-header">
            <h5 class="col-12 text-center">Mercados Desarrollados</h5>
          </div>

          <div class="col-12">
            <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">
              <div class="col-6" >
                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="single3"
                designatedTotal="2000000">
                </ngx-charts-pie-grid>

              </div>

              <div class="col-6" style="height:auto">


                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="single3"
                designatedTotal="2000000">
                </ngx-charts-pie-grid>

              </div>

              <div class="col-6" style="height:auto">


                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="single3"
                designatedTotal="2000000">
                </ngx-charts-pie-grid>

              </div>
            </div>

          </div>
        </blockquote>
      </div>
    </div>
</div>


<div class="col-4" >
  <div class="card card-outline-secondary mb-3 text-center"
  style="height:250px;overflow:hidden" >
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-12 text-center">Opciones de Desarrollo de Mercado</h5>
        </div>

        <div class="col-12">
          <div class="row" style="overflow-y:scroll; height:200px;oveflow-x:visible">


            <div class="col-12" *ngFor="let zona of productosZonaSinDesGraf">
              <h6>{{zona.nombreZona}}</h6>
              <hr>
              <div class="row">
                <div class="col-6" *ngFor="let producto of zona.productos">
                  <ngx-charts-pie-grid
                  [scheme]="colorScheme"
                  [results]="producto.graf"
                  designatedTotal="40">
                  </ngx-charts-pie-grid>


                </div>
              </div>

              <!-- <div class="col-6" *ngFor="let producto of productosSinDesGraf" >
                <ngx-charts-pie-grid

                [scheme]="colorScheme"
                [results]="producto.graf"
                [designatedTotal]="producto.max">
                </ngx-charts-pie-grid>

              </div> -->
            </div>



          </div>

        </div>
      </blockquote>
    </div>
  </div>
</div>



<div class="col-4" >
  <div class="card card-outline-secondary mb-3 text-center"
  style="height:250px;overflow:hidden" >
    <div class="card-block">
      <blockquote class="card-blockquote">
        <div class="card-header">
          <h5 class="col-12 text-center">Mercados en Desarrollo</h5>
        </div>

        <div class="col-12" *ngFor="let zona of productosZonaEnDesGraf">
          <h6>{{zona.nombreZona}}</h6>
          <hr>
          <div class="row">
            <div class="col-6" *ngFor="let producto of zona.productos">
              <ngx-charts-pie-grid
              [scheme]="colorScheme"
              [results]="producto.graf"
              designatedTotal="producto.max">
              </ngx-charts-pie-grid>


            </div>
          </div>

          <!-- <div class="col-6" *ngFor="let producto of productosSinDesGraf" >
            <ngx-charts-pie-grid

            [scheme]="colorScheme"
            [results]="producto.graf"
            [designatedTotal]="producto.max">
            </ngx-charts-pie-grid>

          </div> -->
        </div>
      </blockquote>
    </div>
  </div>
</div>





          </div>
