<div style="background-image:url('assets/img/fondo1.jpeg');background-attachment: fixed;background-size:cover;overflow:hidden;height:1000px;">
  <h1 style="margin-top:100px;color:#005689">Visión y Sensibilidad en los Negocios</h1>
      <div class="login-form" >

         <img src="assets/img/perfil2.png" class="img-log" alt="">

         <form [formGroup]="login" (ngSubmit)="onLoginSubmit()">

           <div class="form-group ">
             <input type="text" class="form-control" placeholder="Usuario " formControlName="username"
             [ngClass]="{'wrong-entry':!validUser}">
           </div>

           <div class="form-group log-status">
             <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
             [ngClass]="{'wrong-entry':!validPass}">
           </div>

            <span *ngIf="!validPass" class="alert">Contraseña Incorrecta</span>
            <span *ngIf="!validUser" class="alert">Usuario Incorrecto</span>
           <button type="submit" class="log-btn " >Entrar</button>

         </form>
     </div>
     <div class="row">
       <h5 class="col-12 text-center">Derechos Reservados: Raúl Uribe Escamilla 2018</h5>
     </div>
</div>
