<div class="row">
  <h3 class="col-12 text-center">Presupuesto de Caja y Bancos</h3>
</div>

<div class="col-8 offset-2">
  <table class="table table-bordered  " >

    <tbody>
        <tr>
        <td>Saldo Inicial</td>
        <td class="text-right" *ngFor="let balance of balanceInicial">{{getCajaBancos() |currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
              <td colspan="2"></td>
      </tr>

      <tr>
        <th colspan="2">Entradas </th>

      </tr>

      <tr>
              <td colspan="2"></td>
      </tr>

      <tr>
        <td>Cobro por Ventas</td>
        <td class="text-right">{{getCobroVentas() |currency:'USD':true:'1.0-0'}}</td>


      </tr>

      <tr>
        <td>Préstamos</td>
        <td class="text-right">{{getPAcuales() |currency:'USD':true:'1.0-0'}}</td>



      </tr>

      <tr>
        <td>Intereses</td>
        <td class="text-right">-</td>




      </tr>



      <tr>
        <td>Incremento de Capital</td>
        <td class="text-right">-</td>

      </tr>

      <tr>
              <td colspan=""></td>
      </tr>


      <tr>
        <th>Disponible</th>
        <th class="text-right">{{getDisponible() |currency:'USD':true:'1.0-0'}}</th>

      </tr>
      <tr>
              <td colspan="2"></td>
      </tr>

      <tr>
        <td colspan="2">Salidas</td>
      </tr>

      <tr>
        <td>Costo de Transformación</td>
        <td class="text-right">{{getCostoDeTransformacion() |currency:'USD':true:'1.0-0'}}</td>

      </tr>

      <tr>
        <td>Gasto de Distribución</td>
        <td class="text-right">{{getCostoDeDistribucion() |currency:'USD':true:'1.0-0'}}</td>

      </tr>


      <tr>
        <td>Gasto de Administración</td>
        <td class="text-right">{{getCostoAdministrativo() |currency:'USD':true:'1.0-0'}}</td>

      </tr>

      <tr>
        <td>Gastos de Venta</td>
        <td class="text-right">{{getGastosVenta() |currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>Compra de Maquinaria</td>
        <td class="text-right">{{getCompraMaquinaria() |currency:'USD':true:'1.0-0'}}</td>


      </tr>

      <tr>
        <td>Compras</td>
        <td class="text-right">{{getCompras() |currency:'USD':true:'1.0-0'}}</td>


      </tr>

      <tr>
        <td>Intereses</td>
        <td class="text-right">{{getIntereses() |currency:'USD':true:'1.0-0'}}</td>

      </tr>

      <tr>
        <td>Pago de Préstamos</td>
        <td class="text-right">{{getPagos() |currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>Dividendos</td>
        <td class="text-right">-</td>

      </tr>
      <tr>
              <td colspan="2"></td>
      </tr>

      <tr>
        <td>PTU</td>
        <td class="text-right">{{getPTU() |currency:'USD':true:'1.0-0'}}</td>

      </tr>

      <tr>
        <td>ISR</td>
        <td class="text-right">{{getISR() |currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>IVA</td>
        <td class="text-right">{{getIVA() |currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td colspan="2"></td>

      </tr>

      <tr>
        <td>Total de Salidas</td>
        <td class="text-right">{{getSalidas() |currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>

      </tr>

      <tr>
        <th>Saldo Final</th>
        <th class="text-right" *ngFor="let balance of balanceFinal">{{balance.cajaBancos |currency:'USD':true:'1.0-0'}}</th>
      </tr>

    </tbody>
  </table>

</div>


<div class="row align-items-center" style="margin-bottom:20px">
  <div class="offset-9 col-1">
    Exportar:
  </div>
  <div class="col-1">
    <ngl-icon icon="pdf" category="doctype" (click)="PDFflujo()" size="large"></ngl-icon>
  </div>

  <div class="col-1">
    <ngl-icon icon="csv" category="doctype" (click)="descargaCSV()" size="large"></ngl-icon>
  </div>

</div>
