<div class="row">
  <h2 class="col-12 text-center">Tnedencias</h2>
  <hr>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <table>
      <thead>
        <th></th>
        <th>Per 1</th>
        <th>Per 2</th>
      </thead>


      <tr>
        <td>Efectivo</td>
      </tr>


      <tr>
        <td>Cuentas Por Cobrar</td>
      </tr>


      <tr>
        <td>Almacén de Materia Prima</td>
      </tr>


      <tr>
        <td>Almacén de P.T.</td>
      </tr>

      <tr>
        <td>Activo Circulante</td>
      </tr>

      <tr>
        <td>Activo Fijo</td>
      </tr>

      <tr>
        <td>Pasivo a Corto Plazo</td>
      </tr>

      <tr>
        <td>Pasivo Total</td>
      </tr>

      <tr>
        <td>Capital Contable</td>
      </tr>

      <tr>
        <td>Ventas</td>
      </tr>

      <tr>
        <td>Costo de Ventas</td>
      </tr>

      <tr>
        <td>Utilidad Bruta</td>
      </tr>

      <tr>
        <td>Gastos de Distribución</td>
      </tr>

      <tr>
        <td>Gastos de Administración</td>
      </tr>

      <tr>
        <td>Otros Gastos</td>
      </tr>

      <tr>
        <td>Total de Gastos de Operación</td>
      </tr>

      <tr>
        <td>Utilidad Neta</td>
      </tr>

    </table>
  </div>
</div>




<div class="row">
  <div class="col-10 offset-1">
    <table class="table">

      <thead>
        <th>Indices</th>
        <th>Per 1</th>
        <th>Per 2</th>
      </thead>




            <tr>
              <td>Efectivo</td>
            </tr>


            <tr>
              <td>Cuentas Por Cobrar</td>
            </tr>


            <tr>
              <td>Almacén de Materia Prima</td>
            </tr>


            <tr>
              <td>Almacén de P.T.</td>
            </tr>

            <tr>
              <td>Activo Circulante</td>
            </tr>

            <tr>
              <td>Activo Fijo</td>
            </tr>

            <tr>
              <td>Pasivo a Corto Plazo</td>
            </tr>

            <tr>
              <td>Pasivo Total</td>
            </tr>

            <tr>
              <td>Capital Contable</td>
            </tr>

            <tr>
              <td>Ventas</td>
            </tr>

            <tr>
              <td>Costo de Ventas</td>
            </tr>

            <tr>
              <td>Utilidad Bruta</td>
            </tr>

            <tr>
              <td>Gastos de Distribución</td>
            </tr>

            <tr>
              <td>Gastos de Administración</td>
            </tr>

            <tr>
              <td>Otros Gastos</td>
            </tr>

            <tr>
              <td>Total de Gastos de Operación</td>
            </tr>

            <tr>
              <td>Utilidad Neta</td>
            </tr>

    </table>
  </div>
</div>
