<div style="overflow-y:scroll">
  <div class="row">
    <div class="col-8" >
      <div class="row">
        <div class="col-12">
          <h3 class="col-12 text-center">Créditos</h3>
          <hr>
        </div>
        <div class="col-12" style="overflow-y:scroll;height:800px">
          <div class="row">
            <div class="card col-6" *ngFor="let credito of creditos">

              <div class="card-block">
                <div class="row">
                  <div class="col-3">
                    <img  src="assets/img/credit.png" class=" img-fluid"  style="margin-left:20px">

                  </div>

                  <div class="col-8">
                    <h4 class="card-title" style="margin-bottom:15px">{{credito.nombreCredito}}</h4>
                    <h6 class="card-subtitle" style="margin-bottom:15px">Monto Máximo: {{credito.montoMax| currency:'USD':true }}</h6>
                    <h6 class="card-subtitle" style="margin-bottom:15px">Monto Minimo: {{credito.montoMin| currency:'USD':true}}</h6>
                    <h6 class="card-subtitle" style="margin-bottom:15px">Descripción: {{credito.pago}}</h6>
                    <h6 class="card-subtitle" style="margin-bottom:15px"> Duración: {{credito.plazo}} periodo(s)</h6>

                  </div>

                </div>

                <div class="card-footer">
                  <button  class="btn btn-primary  offset-1 col-10" (click)="selectCredito(credito)" [disabled]="validaVi()" [hidden]="!validaCredito(credito)"   >Solicitar</button>
                  <button class="btn btn-primary offset-1 col-10" (click)="verPagos(credito.idCredito)"  [hidden]="validaCredito(credito)">Ver Pagos</button>


                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <h3 class="col-12 text-center">Creditos Activos</h3>
          <hr>
        </div>
        <div class="card col-12" *ngFor="let credito of creditosActivos">

          <div class="card-block">
            <div class="row">
              <div class="col-3">
                <img  src="assets/img/credit.png" class=" img-fluid"  style="margin-left:20px">
              </div>

              <div class="col-5">
                <h4 class="card-title" style="margin-bottom:15px">{{getNameById(credito.idCredito)}}</h4>
              </div>

              <button type="button" class="btn btn-secondary col-3 offset-1 text-center" (click)="deleteCreditoSelected=credito;confDeleteCredito=true" [disabled]="validaCreditoA(credito)">Cancelar</button>

            </div>

          </div>
        </div>
      </div>


    </div>
  </div>

</div>



<ngl-modal header="Confirmación"  [(open)]="openModalConf" size="x-small" directional="false">

  <div body>
    <div class="col-12 text-center container">
      <h5 style="margin-bottom:30px">Ingresa la cantidad del credito que se desea solicitar</h5>
      <div class="row">

      </div>

        <form [formGroup]="solicitudForm" (ngSubmit)="solicitaCredito(solicitudForm.value)"  class="offset-1" >
          <input type="number" formControlName="idCredito" hidden="true">
          <div class="form-group row text-center" >
            <label class="col-5 col-form-label">Monto a Solicitar:  </label>

            <div class="input-group col-6 has-primary " [ngClass]="{'has-danger': !solicitudForm.get('monto').valid}">
                <span class="input-group-addon">$</span>
                <input currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" class="form-control" aria-label="Amount (to the nearest dollar)"
                formControlName="monto">



            </div>
            <div class="form-control-feedback offset-5 text-center col-6" style="font-size:10px;"
            [ngClass]="{'has-danger': !solicitudForm.get('monto').valid}" *ngIf="!solicitudForm.controls['monto'].valid">
              El costo es requerido
            </div>



          </div>

          <div class="col-12">
            <button class="btn btn-secondary offset-2 col-4" (click)="openModalConf=false">Salir</button>
            <button type="submit" class="btn btn-primary offset-1 col-4"  >Solicitar</button>


          </div>

          </form>


      <br>
    </div>
  </div>



  </ngl-modal>



  <ngl-modal header="Tabla de Amortización"  [(open)]="openTablaAmort" size="x-small" directional="false">

    <div body>
      <div class="col-10 offset-1">
        <table class="table table-bordered ">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">Capital</th>
              <th class="text-center">Interes</th>
              <th class="text-center">Pago</th>
              <th class="text-center">Saldo</th>
              <th class="text-center">Pago a Capital</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let t of tablaA">
              <td class="text-right">{{t.capital |currency:'USD':true:'1.0-0'}}</td>
              <td class="text-right">{{t.interes |currency:'USD':true:'1.0-0'}}</td>
              <td class="text-right">{{t.pago |currency:'USD':true:'1.0-0'}}</td>
              <td class="text-right">{{t.saldo |currency:'USD':true:'1.0-0'}}</td>
              <td class="text-right">{{t.pagoCapital |currency:'USD':true:'1.0-0'}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="row">

        </div>
        <div class="col-12">
          <button class="btn btn-secondary offset-1 col-4" (click)="openTablaAmort=false">Salir</button>
        </div>

      </div>
    </div>



    </ngl-modal>

    <ngl-modal header="Pagos"  [(open)]="openPagos" size="x-small" directional="false">

      <div body>
        <div class="col-10 offset-1 text-center">
          <table class="table table-bordered">
            <thead class="thead-inverse">
              <tr>


              <th class="text-center">Periodo</th>
              <th class="text-center">Interes</th>
              <th class="text-center">Pago</th>
              <th class="text-center">Pago a Capital</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let t of tablaPagos">
                <td class="text-right">{{t.numeroPeriodo}}</td>
                <td class="text-right">{{t.intereses |currency:'USD':true:'1.0-0'}}</td>
                <td class="text-right">{{t.pagoCapital + t.intereses |currency:'USD':true:'1.0-0'}}</td>
                <td class="text-right">{{t.pagoCapital |currency:'USD':true:'1.0-0'}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="row">

          </div>
          <div class="col-12">
            <button class="btn btn-secondary offset-1 col-4" (click)="openPagos=false">Salir</button>
          </div>

        </div>
      </div>



      </ngl-modal>



      <ngl-modal header="Alerta"  [(open)]="modalAlerta" size="x-small" directional="false">

        <div body>
          <h5 class="col-12 text-center">Has sobrepasado el limite de créditos activos, termina de pagar un credito para pedir otro nuevo</h5>
        </div>

        <ng-template ngl-modal-footer>
        <button class="btn btn-primary col-4 offset-4" (click)="modalAlerta=false">Aceptar</button>

      </ng-template>
        </ngl-modal>

        <ngl-modal header="Alerta"  [(open)]="modalAlerta2" size="x-small" directional="false">

          <div body>
            <h5 class="col-12 text-center">Tu cantidad ingresada no coincide con los limites permitidos de éste crédito</h5>
          </div>

          <ng-template ngl-modal-footer>
          <button class="btn btn-primary col-4 offset-4" (click)="modalAlerta2=false;openModalConf=true">Aceptar</button>

        </ng-template>
          </ngl-modal>


          <ngl-modal header="Confirmación"  [(open)]=confDeleteCredito size="x-small" directional="false">

            <div body>
              <h5 class="col-12 text-center">¿Estas seguro que deseas eliminar el credito {{getNameById(deleteCreditoSelected.idCredito)}}?</h5>
            </div>

            <ng-template ngl-modal-footer>
            <button class="btn btn-secondary col-5 " (click)="confDeleteCredito=false">Cancelar</button>
            <button class="btn btn-primary col-5"  (click)="eliminarCreditoSolicitado()">Aceptar</button>

          </ng-template>
            </ngl-modal>
