

  <div class="nav-side-menu">
      <div class="brand">
        <div class="row" >
          <div class="col-12 text-center">
            <h6 style="margin-top:20px">Proyecto {{proyectoActual}}</h6>
          </div>
        </div>




      <div class="row">
        <div class="col-12 text-center" style="margin-bottom:5px">
          <button type="button" class="btn btn-info" style="font-size:10px" (click)="verDecisiones()">Decisiones</button>
        </div>

      </div>

      <div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-danger" style="font-size:10px" (click)="verProyectos()">Salir de Proyecto</button>
        </div>
      </div>
      </div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

          <div class="menu-list">
              <ul id="menu-content" class="menu-content collapse out">

                  <li [routerLink]="['home']" routerLinkActive="active">
                    <a >
                    <i class="fa fa-tachometer fa-lg"></i> Dash Board
                    </a>
                  </li>

                  <li [routerLink]="['demandaPotencial']" routerLinkActive="active">
                    <a >
                    <i class="fa fa-area-chart fa-lg"></i> Demanda potencial
                    </a>
                  </li>

                  <li [routerLink]="['produccion']" routerLinkActive="active">
                     <a>
                      <i class="fa fa-pie-chart fa-lg"></i>  Decisiones de Producción y Venta
                     </a>
                  </li>

                  <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="#"><i class="fa fa-line-chart fa-lg"></i> Decisiones de Crecimiento<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="service">

                    <li [routerLink]="['compraMaquinaria']" routerLinkActive="active">
                       <a >
                       <i class="fa fa-cogs fa-lg"></i> Compra de Maquinaria
                       </a>
                     </li>
                     <li [routerLink]="['desarrolloProducto']" routerLinkActive="active">
                        <a >
                        <i class="fa fa-flask fa-lg"></i> Desarrollo de Productos
                        </a>
                      </li>
                     <li [routerLink]="['desarrolloMercado']" routerLinkActive="active">
                        <a >
                        <i class="fa fa-map-marker fa-lg"></i> Desarrollo de mercados
                        </a>
                      </li>
                  </ul>

                  <li [routerLink]="['financiamiento']" routerLinkActive="active">
                     <a>
                      <i class="fa fa-credit-card fa-lg"></i>  Decisiones de Finaciamiento
                     </a>
                  </li>

                  <li data-toggle="collapse" data-target="#service2" class="collapsed">
                    <a href="#"><i class="fa fa-list-alt fa-lg"></i> Resultados del periodo<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="service2">
                    <li [routerLink]="['balance_inicial']" routerLinkActive="active">Balance Inicial</li>
                    <li [routerLink]="['operacion']" routerLinkActive="active">Resultados Operacion</li>
                    <li [routerLink]="['estadoResultados']" routerLinkActive="active">Estado de Resultados</li>
                    <li [routerLink]="['balance_final']" routerLinkActive="active">Balance Final</li>
                    <li [routerLink]="['flujo']" routerLinkActive="active">Flujo de Efectivo</li>
                  </ul>

                  <li data-toggle="collapse" data-target="#service3" class="collapsed">
                    <a href="#"><i class="fa fa-flag-checkered fa-lg"></i> Analisis Final<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="service3">
                    <li [routerLink]="['comparativa']" routerLinkActive="active">Posición Comparativa</li>
                    <li [routerLink]="['analisis']" routerLinkActive="active">Analisis de Rentabilidad</li>
                    <li [routerLink]="['puntoEquilibrio']" routerLinkActive="active">Punto de Equilibrio</li>
                    <li [routerLink]="['integrales']" routerLinkActive="active">Integrales</li>
                    <li [routerLink]="['tendencias']" routerLinkActive="active">Tendencias</li>
                  </ul>
              </ul>
       </div>
  </div>






<ngl-modal header="Reporte de Decisiones"  [(open)]="openDes" size="large" directional="false">
    <div body>

      <div class="card" *ngFor="let prod of DProductos;let i=index">
        <div class="card-header">
          <h4 class="col-12 text-center">Periodo {{i+1}}</h4>
        </div>
        <div class="card-block">

                    <div class="row">
                      <h5 class="col-3 text-center">Venta de Productos(unidades)</h5>
                      <h5 class="col-2 text-center">Maquinaria Adquirida</h5>
                      <h5 class="col-3 text-center">Desarrollo  de Productos y Zonas</h5>
                      <h5 class="col-2 text-center">Créditos Pedidos</h5>
                    </div>


                    <div class="row">
                      <div class="col-3">
                        <table class="table table-hover table-sm">
                            <tr>
                              <th class="text-center">Producto</th>
                              <th class="text-center">Zonas</th>
                              <th class="text-center">Vendidas</th>
                            </tr>
                            <tr *ngFor="let v of ventasZonas[i].ventas">
                              <td class="text-center">{{getNameByIdProducto(v.idProducto)}}</td>
                              <td class="text-right">{{v.unidadesVendidas|number:'1.0-0'}}</td>
                              <td class="text-right">{{v.unidadesAlmacenadas|number:'1.0-0'}}</td>
                            </tr>
                        </table>
                      </div>

                        <div class="col-2">
                          <table class="table table-hover table-sm">
                            <tr>
                              <th class="text-center">Maquinaria</th>
                              <th class="text-center">Cantidad</th>
                            </tr>

                            <tr *ngFor="let maquina of maquinas[i].maquinarias">
                              <td class="text-center">{{getNameByIdMaquinaria(maquina.idMaquinaria)}}</td>
                              <td class="text-right">{{maquina.Cantidad}}</td>
                            </tr>
                          </table>
                        </div>



                        <div class="col-1">
                          <table class="table table-hover table-sm">
                            <tr>
                              <th class="text-center">Productos Desarrollados</th>
                            </tr>
                            <tr *ngFor="let producto of this.DProductos[i].productos">
                              <td class="text-center">{{getNameByIdProducto(producto.idProducto)}}</td>
                            </tr>
                          </table>
                        </div>



                        <div class="col-3">
                          <table class="table table-hover table-sm">
                            <tr>
                              <th class="text-center">Producto</th>
                              <th class="text-center">Zona de Mercado Desarrollada</th>
                            </tr>

                            <tr *ngFor="let producto of this.DZonas[i].productos">
                              <td class="text-center">{{getNameByIdProducto(producto.idProducto)}}</td>
                              <td class="text-center">{{getNameByIdZona(producto.idZona)}}</td>
                            </tr>
                          </table>
                        </div>

                        <div class="col-2">
                          <table class="table table-hover table-sm">
                            <tr>
                              <th class="text-center">Crédito</th>
                              <th class="text-center">Monto</th>
                            </tr>

                            <tr *ngFor="let credito of creditos[i].creditos">
                              <td class="text-center">{{credito.nombreCredito}}</td>
                              <td class="text-right">{{credito.monto|currency:'USD':true:'1.0-0'}}</td>
                            </tr>
                          </table>
                        </div>


                    </div>
                </div>


        </div>
      </div>

    <ng-template ngl-modal-footer>
      <span>Exportar:</span>
      <button type="button" (click)="CSVdecisiones()" class="btn btn-success">CSV</button>
      <button type="button" (click)="PDFdecisiones()" class="btn btn-danger">PDF</button>

    </ng-template>
  </ngl-modal>



  <ngl-modal  [(open)]="openLoad" size="small" directional="false">
    <div body>
          <h2 class="col-12 text-center">Abriendo Reporte</h2>
      <h6 class="col-12 text-center">Realizando Operación</h6>
      <div style="position:relative; height:6.25rem; z-index:0;">
        <ngl-spinner size="large" type="brand"></ngl-spinner>
      </div>

    </div>
    </ngl-modal>
