<h3 class="col-12 text-center">Balance General Final</h3>
<div class="col-10 offset-1" >
  <table class="table table-hover  table-responsive" *ngFor="let balance of balanceFinal">

    <tbody>
      <tr class="thead-inverse">
        <th colspan="4" class="text-center bg-primary ">A menos de un año</th>
        <th colspan="2" class="text-center bg-warning">A menos de un año</th>
      </tr>
      <tr>
        <td>Caja Bancos</td>
        <td colspan="3" class="text-right">{{balance.cajaBancos |currency:'USD':true:'1.0-0'}}</td>
        <td>IVA por enterar</td>
        <td class="text-right">{{balance.IVAPorEnterar|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>Cuentas por Cobrar</td>
        <td colspan="3" class="text-right">{{balance.cuentasPorCobrar|currency:'USD':true:'1.0-0'}}</td>
        <td>Impuestos por Pagar</td>
        <td class="text-right">{{balance.imptosPorPagar|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>IVA Acreditable</td>
        <td colspan="3" class="text-right">{{balance.IVAAcreditable|currency:'USD':true:'1.0-0'}}</td>
        <td>Proveedores</td>
        <td class="text-right">{{balance.proveedores|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>Almacen de Articulo Terminado</td>
        <td colspan="3" class="text-right">{{balance.almacenArtTerm|currency:'USD':true:'1.0-0'}}</td>
        <td>PTU por Pagar</td>
        <td class="text-right">{{balance.PTUPorPagar|currency:'USD':true:'1.0-0'}}</td>
      </tr>
      

      <tr>
        <td>Alamacén de Materiales</td>
        <td colspan="3" class="text-right">{{balance.almacenMateriales|currency:'USD':true:'1.0-0'}}</td>
        <td>Préstamos Bancarios</td>
        <td class="text-right">{{balance.prestamosMenosAnio|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <th class="text-center">TOTAL</th>
        <td colspan="3" class="text-right">{{balance.cajaBancos + balance.cuentasPorCobrar + balance.IVAAcreditable
            + balance.almacenArtTerm + balance.almacenMateriales|currency:'USD':true:'1.0-0'}}</td>
        <th class="text-center">TOTAL</th>
        <td class="text-right">{{balance.IVAPorEnterar + balance.imptosPorPagar + balance.proveedores + balance.PTUPorPagar + balance.prestamosMenosAnio|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr class="thead-inverse">
        <th class="text-center bg-primary" colspan="4">A más de un año</th>
        <th class="text-center bg-warning" colspan="2">A más de un año</th>
      </tr>

      <tr>
        <th class="text-center"></th>
        <td>I.O.</td>
        <td>Dep. Acum</td>
        <td>Neto</td>
      </tr>


      <tr>
        <td>Terrenos</td>
        <td class="text-right">{{balance.terreno|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.depTerreno|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.terreno - balance.depTerreno|currency:'USD':true:'1.0-0'}}</td>
        <td>Prestamos Totales</td>
        <td class="text-right">{{balance.prestamosMasAnio|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>Edificios e Instalaciones</td>
        <td class="text-right">{{balance.edifInsta|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.depEdif|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.edifInsta - balance.depEdif|currency:'USD':true:'1.0-0'}}</td>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>Maquinaria y Equipo</td>
        <td class="text-right">{{balance.maqEquipo|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.depMaqEquipo|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.maqEquipo - balance.depMaqEquipo|currency:'USD':true:'1.0-0'}}</td>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>Muebles y Enseres</td>
        <td class="text-right">{{balance.mueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.depMueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.mueblesEnseres - balance.depMueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>Equipo de Transporte</td>
        <td class="text-right">{{balance.eqTrans|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right">{{balance.eqTrans - balance.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
        <td colspan="2"></td>
      </tr>

      <tr>
        <th class="text-center">TOTAL</th>
        <td></td>
        <td></td>
        <td class="text-right">{{balance.terreno + balance.edifInsta + balance.mueblesEnseres + balance.eqTrans + balance.maqEquipo - balance.depMaqEquipo - balance.depEdif - balance.depMueblesEnseres -balance.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
        <th class="text-center">TOTAL</th>
        <td class="text-right">{{balance.prestamosMasAnio|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr class="">
        <th colspan="4" class="text-center bg-primary">De Aplicación Diferida</th>
        <th class="text-center bg-warning" colspan="2">Con los Accionistas</th>
      </tr>

      <tr>
        <td>Pagos Hechos por anticipado</td>
        <td colspan="3" class="text-right">{{balance.pagosAnticipado|currency:'USD':true:'1.0-0'}}</td>
        <td>Capital Social</td>
        <td class="text-right">{{balance.capitalSocial|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>Gastos por Amortizar</td>
        <td colspan="3" class="text-right">{{balance.gastosAmortizacion|currency:'USD':true:'1.0-0'}}</td>
        <td>Reserva legal</td>
        <td class="text-right">{{balance.reservaLegal|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td colspan="4"></td>
        <td>Utilidad Acumulada</td>
        <td class="text-right">{{balance.utilidadAcum|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td colspan="4"></td>
        <td >Utilidad del Ejercicio</td>
        <td class="text-right">{{balance.utilidadEjercicio|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <th class="text-center">TOTAL</th>
        <td colspan="3" class="text-right">{{balance.pagosAnticipado + balance.gastosAmortizacion|currency:'USD':true:'1.0-0'}}</td>
        <th class="text-center">TOTAL</th>
        <td class="text-right">{{balance.capitalSocial + balance.reservaLegal + balance.utilidadAcum + balance.utilidadEjercicio|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <th >Suma de los Derechos</th>
        <td colspan="3" class="text-right">{{balance.pagosAnticipado + balance.gastosAmortizacion + balance.terreno
          + balance.edifInsta + balance.mueblesEnseres + balance.eqTrans + balance.maqEquipo
          + balance.cajaBancos + balance.cuentasPorCobrar + balance.IVAAcreditable + balance.almacenArtTerm
          + balance.almacenMateriales - balance.depMaqEquipo - balance.depEdif - balance.depMueblesEnseres -balance.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
        <td>Suma de las Obligaciones</td>
        <td class="text-right">{{balance.IVAPorEnterar + balance.imptosPorPagar + balance.proveedores + balance.PTUPorPagar
          + balance.prestamosMenosAnio + balance.prestamosMasAnio + balance.capitalSocial + balance.reservaLegal
          + balance.utilidadAcum + balance.utilidadEjercicio|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <th>Diferencia</th>
        <td colspan="3" class="text-right">{{(balance.pagosAnticipado + balance.gastosAmortizacion + balance.terreno
          + balance.edifInsta + balance.mueblesEnseres + balance.eqTrans + balance.maqEquipo
          + balance.cajaBancos + balance.cuentasPorCobrar + balance.IVAAcreditable + balance.almacenArtTerm
          + balance.almacenMateriales) - (balance.IVAPorEnterar + balance.imptosPorPagar + balance.proveedores + balance.PTUPorPagar
            + balance.prestamosMenosAnio + balance.prestamosMasAnio + balance.capitalSocial + balance.reservaLegal
            + balance.utilidadAcum + balance.utilidadEjercicio) - balance.depMaqEquipo - balance.depEdif - balance.depMueblesEnseres -balance.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
        <td colspan="2"></td>
      </tr>

    </tbody>
  </table>
  <div class="row">
    <button type="button" (click)="descargaPDF()"  class="btn btn-primary col-4 offset-4">Exportar Resultado</button>

  </div>
</div>

<table class="table table-bordered  table-responsive" >

  <tbody>
    <tr class="thead-inverse">
    <th colspan="2">Presupuesto Global de Caja y Bancos</th>
    </tr>




    <tr>
      <td>Saldo Inical</td>
      <td class="text-right"></td>
    </tr>

    <tr>
            <td colspan="2"></td>
    </tr>

    <tr>
      <th colspan="2">Entradas </th>

    </tr>

    <tr>
            <td colspan="2"></td>
    </tr>

    <tr>
      <td>Cobro por Ventas</td>
      <td class="text-right"></td>


    </tr>

    <tr>
      <td>Préstamos</td>
      <td class="text-right"></td>



    </tr>

    <tr>
      <td>Intereses</td>
      <td class="text-right"></td>




    </tr>



    <tr>
      <td>Incremento de Capital</td>
      <td class="text-right"></td>

    </tr>

    <tr>
            <td colspan=""></td>
    </tr>


    <tr>
      <th>Disponible</th>
      <th class="text-right"></th>

    </tr>
    <tr>
            <td colspan="2"></td>
    </tr>

    <tr>
      <td colspan="2">Salidas</td>
    </tr>

    <tr>
      <td>Costo de Transformación</td>
      <td class="text-right"></td>

    </tr>

    <tr>
      <td>Costo de Distribución</td>
      <td class="text-right"></td>

    </tr>


    <tr>
      <td>Costo de Administrativo</td>
      <td class="text-right"></td>

    </tr>

    <tr>
      <td>Gastos de Venta</td>
      <td class="text-right"></td>
    </tr>



    <tr>
      <td>Compra de Maquinaria</td>
      <td class="text-right"></td>


    </tr>

    <tr>
      <td>Compras</td>
      <td class="text-right"></td>


    </tr>

    <tr>
      <td>Intereses</td>
      <td class="text-right"></td>

    </tr>

    <tr>
      <td>Pago de Préstamos</td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>Dividendos</td>
      <td class="text-right"></td>

    </tr>
    <tr>
            <td colspan="2"></td>
    </tr>

    <tr>
      <td>PTU</td>
      <td class="text-right"></td>

    </tr>

    <tr>
      <td>ISR</td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>IVA</td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td colspan="2"></td>

    </tr>

    <tr>
      <td>Total de Salidas</td>
      <td class="text-right"></td>
    </tr>

    <tr>

    </tr>

    <tr>
      <th>Saldo Final</th>
      <th class="text-right"></th>
    </tr>

  </tbody>
</table>


<table class="table table-bordered  table-responsive" *ngFor="let balance of balanceFinal">

  <tbody>
    <tr class="thead-inverse">
      <th  class="text-center"></th>
      <th  class="text-center ">Año Actual</th>
      <th  class="text-center ">Año Anterior</th>
      <th  class="text-center">Aplicación</th>
      <th  class="text-center">Origen</th>
    </tr>

    <tr  class="thead-inverse">
      <th colspan="5" class="text-center">Derechos</th>
    </tr>

    <tr>
      <th colspan="5" class="text-left">A menos de un año</th>
    </tr>

    <tr>
      <td>Caja Bancos</td>
      <td class="text-right">{{balance.cajaBancos |currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>


    </tr>

    <tr>
      <td>Cuentas por Cobrar</td>
      <td  class="text-right">{{balance.cuentasPorCobrar|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>


    </tr>

    <tr>
      <td>IVA Acreditable</td>
      <td class="text-right">{{balance.IVAAcreditable|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>


    </tr>

    <tr>
      <td>Almacen de Articulo Terminado</td>
      <td class="text-right">{{balance.almacenArtTerm|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>


    </tr>

    <tr>
      <td>Alamacén de Materiales</td>
      <td class="text-right">{{balance.almacenMateriales|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>



    </tr>


    <tr>
      <th class="text-left" colspan="5">A más de un año</th>
    </tr>



    <tr>
      <td>Terrenos</td>
      <td class="text-right">{{balance.terreno|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"> </td>
    </tr>

    <tr>
      <td>Edificios e Instalaciones</td>
      <td class="text-right">{{balance.edifInsta|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>Maquinaria y Equipo</td>
      <td class="text-right">{{balance.maqEquipo|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>Muebles y Enseres</td>
      <td class="text-right">{{balance.mueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>Equipo de Transporte</td>
      <td class="text-right">{{balance.eqTrans|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>


    <tr>
      <th colspan="5" class="text-left">De Aplicación Diferida</th>
    </tr>

    <tr>
      <td>Pagos Hechos por anticipado</td>
      <td class="text-right">{{balance.pagosAnticipado|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>



    </tr>

    <tr>
      <td>Gastos por Amortizar</td>
      <td class="text-right">{{balance.gastosAmortizacion|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>


    </tr>



    <tr class="thead-inverse">
      <th class="text-center" colspan="5">Obligaciones</th>

    </tr>

    <tr>
      <th colspan="5" class="tex-left">A menos de un Año</th>
    </tr>

    <tr>
      <td>IVA por enterar</td>
      <td class="text-right">{{balance.IVAPorEnterar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>


    </tr>

    <tr>
      <td>Impuestos por Pagar</td>
      <td class="text-right">{{balance.imptosPorPagar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>


    </tr>

    <tr>
      <td>Proveedores</td>
      <td class="text-right">{{balance.proveedores|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>

    </tr>

    <tr>
      <td>PTU por Pagar</td>
      <td class="text-right">{{balance.PTUPorPagar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>


    </tr>

    <tr>
      <td>Préstamos Bancarios</td>
      <td class="text-right">{{balance.prestamosMenosAnio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>

    </tr>

    <tr>
      <th colspan="5" class="text-left">A más de un Año</th>
    </tr>

    <tr>
      <td>Prestamos Totales</td>
      <td class="text-right">{{balance.prestamosMasAnio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>

    </tr>

    <tr class="thead-inverse">
      <th colspan="5" class="text-center">Con los Accionistas</th>
    </tr>

    <tr>
      <td>Capital Social</td>
      <td class="text-right">{{balance.capitalSocial|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>Reserva legal</td>
      <td class="text-right">{{balance.reservaLegal|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td>Utilidad Acumulada</td>
      <td class="text-right">{{balance.utilidadAcum|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right"></td>
    </tr>

    <tr>
      <td >Utilidad del Ejercicio</td>
        <td class="text-right">{{balance.utilidadEjercicio|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>

    </tr>

    <tr>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  </tbody>
</table>
