

<div *ngIf="usuario">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top navbar-inverse" style="background-color:#007CB9;height:110px;">

  <button class="navbar-toggler navbar-toggler-right" type="button"
  data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
  <span class="navbar-brand" style="margin-left:30px;">
         <img class="img-fluid rounded-circle" style="width:80px;"
         src="assets/img/user.png"> {{usuario.nombreUsuario}} {{usuario.apPat}}
    </span>


  <ul class="nav navbar-nav navbar-right ml-auto" style="margin-top:23px"    >

    <li class="nav-item pull-left" style="margin-right:25px; margin-bottom:10px">
      <h4 style="color:white" *ngIf="_proyectoService.muestraPeriodoCorriendo" >Periodo Corriendo: {{this._proyectoService.periodo}}</h4>
    </li>

    <li class="nav-item pull-left" style="margin-right:20px; margin-bottom:10px" >
      <button  [hidden]="_proyectoService.muestraPeriodo"    type="button" class="btn btn-success navbar-right" (click)="openConf=true">Cerrar Periodo</button>
    </li>

    <li class="nav-item " style="margin-right:40px;margin-bottom:10px">
      <button [hidden]="_proyectoService.muestraPeriodo"  type="button" class="btn btn-info" (click)="openPeriodos=true">Periodos Anteriores</button>
    </li>


  </ul>

  <ul class="nav navbar-nav ml-auto" style="margin-top:23px">
        <li class="nav-item " style="margin-right:20px">
          <button  class="btn btn-danger"><i class="fa fa-bell fa-lg"></i></button>
        </li>

        <li class="nav-item " style="margin-right:20px">
          <button  class="btn btn-success " (click)="logOut()"><i class="fa fa-sign-out fa-lg"></i></button>

        </li>
  </ul>
</div>


</nav>

</div>


<ngl-modal header="Confirmación"  [(open)]="openConf" size="x-small" directional="false">
    <div body>
      <div class="col-12 text-center container">
        <h2 style="margin-bottom:30px">¿Esta seguro que deseas cerrar el periodo actual ?</h2>
      </div>
    </div>

    <ng-template ngl-modal-footer>
    <button class="btn btn-danger" (click)="openConf=false">Cancel</button>
    <button class="btn btn-primary" (click)="pasarPeriodo()">Cerrar Periodo</button>
    </ng-template>
  </ngl-modal>




      <ngl-modal header="Confirmación"  [(open)]="openBien" size="x-small" directional="false">
        <div body>
          <div class="col-12 text-center container">
            <h2 style="margin-bottom:30px">Ha cerrado periodo satisfactoriamente</h2>
          </div>
        </div>

        <ng-template ngl-modal-footer>
        <button class="btn btn-primary" (click)="modalPasarPeriodo()">Aceptar</button>
        </ng-template>
      </ngl-modal>



          <ngl-modal header="Confirmación"  [(open)]="alert" size="x-small" directional="false">

            <div body>
              <div class="container">
                <h5 class="col-12 text-center" style="margin-bottom:30px">Tienes deuda, no puedes pasar de periodo, necesitas un prestamo</h5>
                  <div class="col-2 offset-5">
                    <img  src="assets/img/credit.png" class="img-fluid">
                  </div>

              </div>
            </div>

            <ng-template ngl-modal-footer>
              <button class="btn btn-primary" (click)="pasaCreditos()">Ir a prestamos</button>
                <button class="btn btn-danger" (click)="alert=false">Cancelar</button>

          </ng-template>
            </ngl-modal>






                <ngl-modal  [(open)]="openLoad" size="small" directional="false">
                  <div body>
                    <h1 class="col-12 text-center" >Cerrando Periodo</h1>
                    <h5 class="col-12 text-center">Realzando Operacion</h5>
                    <div style="position:relative; height:6.25rem; z-index:0;">
                      <ngl-spinner size="large" type="brand"></ngl-spinner>
                    </div>
                  </div>
                </ngl-modal>


                <ngl-modal  [(open)]="openPeriodos" size="small" directional="false">
                  <div body>
                    <div class="list-group" >
                      <a class="list-group-item list-group-item-action col-12" *ngFor="let p of this._proyectoService.periodos" >{{p.nombre}}
                        <button class="btn btn-primary offset-3 col-3" (click)="visualizaPeriodo(p.numero)">Visualizar</button>
                        <button class="btn btn-success col-3 offset-1" (click)="selectEditaPeriodo(p.numero)">Editar</button>
                      </a>
                    </div>
                        <div class="modal-footer">
                          <button  type="button" class="btn btn-outline-danger" (click)="openPeriodos=false">
                          Cancelar
                          </button>
                        </div>
                  </div>
                </ngl-modal>


                <ngl-modal  header="Confirmación" [(open)]="confEditaPeriodos" size="small" directional="false">
                  <div body>
                    <div class="row">
                      <h4 class="col-12 text-center">Al ir a editar un periodo, los resultados de los periodos subsecuentes se borrarán, ¿estás seguro de querer editarlo?</h4>
                    </div>
                        <div class="modal-footer">
                          <button  type="button" class="btn btn-danger" (click)="confEditaPeriodos=false;openPeriodos=true">
                          Cancelar
                          </button>
                          <button  type="button" class="btn btn-primary" (click)="editaPeriodo()">
                          Editar
                          </button>
                        </div>
                  </div>
                </ngl-modal>



                <ngl-modal  [(open)]="openLoadDatos" size="small" directional="false">
                  <div body>
                    <h1 class="col-12 text-center" >Cargando Datos</h1>
                    <h5 class="col-12 text-center">Pasando Periodo</h5>
                    <div style="position:relative; height:6.25rem; z-index:0;">
                      <ngl-spinner size="large" type="brand"></ngl-spinner>
                    </div>
                  </div>
                </ngl-modal>
