

<div *ngIf="usuario" style="height:100%">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top navbar-inverse"
  style="background-color:#001b48;height:110px;">

  <button class="navbar-toggler navbar-toggler-right" type="button"
  data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
  <span class="navbar-brand" style="margin-left:50px;">
         <img class="img-fluid rounded-circle" style="width:80px;"
         src="assets/img/user2.png"> {{usuario.nombreUsuario}} {{usuario.apPat}}
    </span>


  <ul class="nav navbar-nav navbar-right ml-auto" style="margin-top:23px"    >

    <li class="nav-item pull-left" style="margin-right:25px; margin-bottom:10px">
      <h4 style="color:white" *ngIf="_proyectoService.muestraPeriodoCorriendo">Periodo Corriendo: {{this._proyectoService.periodo}}</h4>
    </li>

    <li class="nav-item pull-left" style="margin-left:10px">
      <span style="font-size:15px;color:white">Derechos Reservados de Raul Uribe 2018</span>
    </li>



    <li class="nav-item pull-left" style="margin-right:20px; margin-bottom:10px;margin-left:10px" >
      <button *ngIf="validaVi()"  [hidden]="muestraCerrarPeriodo()"    type="button" class="btn btn-primary navbar-right" (click)="preparaCierre()">Cerrar Periodo</button>
    </li>

    <li class="nav-item " style="margin-right:30px;margin-bottom:10px">
      <button [hidden]="_proyectoService.muestraPeriodo"  type="button" class="btn btn-info" (click)="openPeriodos=true">Periodos Anteriores</button>
    </li>


  </ul>

  <ul class="nav navbar-nav ml-auto" style="margin-top:23px">
        <!-- <li class="nav-item " style="margin-right:20px">
          <button  class="btn btn-primary"><i class="fa fa-bell fa-lg"></i></button>
        </li> -->



        <li class="nav-item " style="margin-right:20px">
          <button title="Salir"  class="btn btn-info " (click)="logOut()"><i class="fa fa-sign-out fa-lg"></i></button>

        </li>
  </ul>
</div>


</nav>

</div>


<ngl-modal header="Confirmación"  [(open)]="openConf" size="x-small" directional="false">
    <div body>
      <div class="col-12 text-center container">
        <h2 style="margin-bottom:30px">¿Esta seguro que deseas cerrar el periodo actual ?</h2>
      </div>
    </div>

    <ng-template ngl-modal-footer>
    <button class="btn btn-primary" (click)="openConf=false">Cancel</button>
    <button class="btn btn-primary" (click)="verificaDesarrollo()">Cerrar Periodo</button>
    </ng-template>
  </ngl-modal>



  <ngl-modal header="Confirmación"  [(open)]="openRescate" size="x-small" directional="false">
      <div body>
        <div class="col-12 text-center container">
          <h2 style="margin-bottom:10px">Haz quedado en Bancarrota</h2>
        </div>
        <div class="offset-4 col-4">
          <img src="assets/img/graph.png" class="img-fluid" alt="">
        </div>
        <div class="col-12">
          <h4 class="text-center" style="margin-top:10px">Puedes solicitar un monto de inversión para rescatar tu proyecto de {{rescMin|currency:'USD':true:'1.0-0'}} hasta {{rescMax|currency:'USD':true:'1.0-0'}} </h4>
        </div>


      <form [formGroup]="rescateForm" class="offset-1"  >
      <div class="form-group row">
        <label class="col-12 col-form-label text-center">Cantidad a Solicitar</label>
        <div class="offset-3 col-6">
          <input  currencyMask [options]="{ prefix: '', thousands: ',', precision:'0' }" class="form-control" formControlName="cantidadRescate">
        </div>
      </div>
      <ng-template ngl-modal-footer>
          <button type="submit" class="btn btn-secondary col-5 offset-1" (click)="openRescate=false" >Cancelar</button>
        <button type="submit" class="btn btn-primary col-5"  (click)="rescate(rescateForm.value)">Solicitar</button>
    </ng-template>

      </form>
        </div>
    </ngl-modal>



    <ngl-modal header="Alerta"  [(open)]="openFalloRescate" size="x-small" directional="false">
        <div body>
          <div class="col-12 text-center container">
            <h3 style="margin-bottom:10px">Tu petición no está dentro de los límites permitidos, realiza una petición que esté dentro de los limites</h3>
          </div>
          </div>

          <ng-template ngl-modal-footer>
              <button type="submit" class="btn btn-secondary col-5 offset-1" (click)="openFalloRescate=false">Cancelar</button>
            <button type="submit" class="btn btn-primary col-5"  (click)="openFalloRescate=false;openRescate=true">Aceptar</button>
        </ng-template>
      </ngl-modal>




  <ngl-modal header="Confirmación"  [(open)]="simTerm" size="x-small" directional="false">
      <div body>
        <div class="col-12 text-center container">
          <h1 style="margin-bottom:30px">¡Felicidades!</h1>
          <h2>Tu simulación ha Concluido</h2>
          <div class="offset-4 col-4">
            <img src="assets/img/goal.png" class="img-fluid">
          </div>
        </div>
      </div>

      <ng-template ngl-modal-footer>
      <button class="btn btn-primary" (click)="goHome()">Aceptar</button>
      </ng-template>
    </ngl-modal>




  <ngl-modal header="Confirmación"  [(open)]="confProd" size="x-small" directional="false">
      <div body>
        <div class="col-12 text-center container">
          <h2 style="margin-bottom:30px">Tienes pagos pendientes de Desarrollo de Productos ¿Aún así deseas cerrar el periodo?</h2>
        </div>
      </div>

      <ng-template ngl-modal-footer>

      <button class="btn btn-primary" (click)="pasaDesProd()">Ir a Desarrollos de Productos</button>
      <button class="btn btn-primary" (click)="pasaAfDes()">Cerrar Periodo</button>
      <button class="btn btn-secondary" (click)="confProd=false">Cancelar</button>
      </ng-template>
    </ngl-modal>





    <ngl-modal header="Confirmación"  [(open)]="confZona" size="x-small" directional="false">
        <div body>
          <div class="col-12 text-center container">
            <h2 style="margin-bottom:30px">>Tienes pagos pendientes de Desarrollo de Mercados ¿Aún así deseas cerrar el periodo??</h2>
          </div>
        </div>

        <ng-template ngl-modal-footer>

        <button class="btn btn-primary" (click)="pasaDesZona()">Ir a Desarrollos de Zonas</button>
        <button class="btn btn-primary" (click)="pasarPeriodo()">Cerrar Periodo</button>
        <button class="btn btn-secondary" (click)="confZona=false">Cancelar</button>
        </ng-template>
      </ngl-modal>




      <ngl-modal header="Confirmación"  [(open)]="openBien" size="x-small" directional="false">
        <div body>
          <div class="col-12 text-center container">
            <h2 style="margin-bottom:30px">Ha cerrado periodo satisfactoriamente</h2>
          </div>
        </div>

        <ng-template ngl-modal-footer>
        <button class="btn btn-primary" (click)="modalPasarPeriodo()">Aceptar</button>
        </ng-template>
      </ngl-modal>



          <ngl-modal header="Confirmación"  [(open)]="alert" size="x-small" directional="false">

            <div body>
              <div class="container">
                <h5 class="col-12 text-center" style="margin-bottom:30px">Tu caja y bancos está en números negativos, no puedes pasar de periodo.</h5>
                  <div class="col-2 offset-5">
                    <img  src="assets/img/credit.png" class="img-fluid">
                  </div>

              </div>
            </div>

            <ng-template ngl-modal-footer>
              <button class="btn btn-primary" (click)="pasaCreditos()">Ir a prestamos</button>
                <button class="btn btn-secondary" (click)="alert=false">Cancelar</button>

          </ng-template>
            </ngl-modal>






                <ngl-modal  [(open)]="openLoad" size="small" directional="false">
                  <div body>
                    <h1 class="col-12 text-center" >Cerrando Periodo</h1>
                    <h5 class="col-12 text-center">Realizando Operación</h5>
                    <div style="position:relative; height:6.25rem; z-index:0;">
                      <ngl-spinner size="large" type="brand"></ngl-spinner>
                    </div>
                  </div>
                </ngl-modal>


                <ngl-modal  [(open)]="openPeriodos" size="small" directional="false">
                  <div body>
                    <div class="list-group" >
                      <a class="list-group-item list-group-item-action col-12" *ngFor="let p of this._proyectoService.periodos" >{{p.nombre}}
                        <button class="btn btn-primary offset-3 col-3" (click)="visualizaPeriodo(p.numero)">Visualizar</button>
                        <button class="btn btn-primary col-3 offset-1" [disabled]="validaRegre()" (click)="selectEditaPeriodo(p.numero)">Editar</button>
                      </a>
                    </div>
                        <div class="modal-footer">
                          <button  type="button" class="btn btn-outline-danger" (click)="openPeriodos=false">
                          Cancelar
                          </button>
                        </div>
                  </div>
                </ngl-modal>


                <ngl-modal  header="Confirmación" [(open)]="confEditaPeriodos" size="small" directional="false">
                  <div body>
                    <div class="row">
                      <h4 class="col-12 text-center">Al ir a editar un periodo, los resultados de los periodos subsecuentes se borrarán, ¿estás seguro de querer editarlo?</h4>
                    </div>
                        <div class="modal-footer">
                          <button  type="button" class="btn btn-primary" (click)="confEditaPeriodos=false;openPeriodos=true">
                          Cancelar
                          </button>
                          <button  type="button" class="btn btn-primary" (click)="editaPeriodo()">
                          Editar
                          </button>
                        </div>
                  </div>
                </ngl-modal>



                <ngl-modal  [(open)]="openLoadDatos" size="small" directional="false">
                  <div body>
                    <h1 class="col-12 text-center" >Cargando Datos</h1>
                    <h5 class="col-12 text-center">Pasando Periodo</h5>
                    <div style="position:relative; height:6.25rem; z-index:0;">
                      <ngl-spinner size="large" type="brand"></ngl-spinner>
                    </div>
                  </div>
                </ngl-modal>
