
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Analisis de de Rentabilidad sobre el Capital Contable</h2>
      <hr>
    </div>
  </div>




  <div class="col-6 offset-3">
    <table class="table">
      <thead>
        <th colspan="3">Estado de Resultados</th>
      </thead>

      <tr>
        <td></td>
        <td>Ventas</td>
        <td>{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Costos</td>
        <td>{{getTotalCostosVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>=</td>
        <td>Utilidad Bruta</td>
        <td>{{getUtilidadBruta()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Gastos de Operación</td>
        <td>{{getGastosDeOperacion()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr >
        <td>=</td>
        <td>Utilidad de Operación</td>
        <td>{{getUtilidadOperacion()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Intereses</td>
        <td>{{getIntereses()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Utilidad antes de Impuestos</td>
        <td>{{getUtilidadAntes()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Impuestos</td>
        <td>{{getImpuestos()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Utilidad Neta</td>
        <td>{{getUtilidadNeta()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Ventas</td>
        <td>{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Margen Neto (%)</td>
        <td>{{getMargenNeto()* 100}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>*</td>
        <td>Rotación de Activos</td>
        <td>{{getRotacionActivos()}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rentabilidad de Activos(%)</td>
        <td>{{getRentabilidadSobreActivos()* 100}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>*</td>
        <td>Placa Financiera</td>
        <td>{{getActivoCapitalTotal()}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rentabilidad s/Capital Contable</td>
        <td>{{getRentabilidadSobreCapital()*100}}</td>
      </tr>

    </table>
  </div>




  <div style="margin-top:50px" class="col-6 offset-3">
    <table class="table">
      <thead>
        <th colspan="3">Balance General</th>
      </thead>

      <tr>
        <td></td>
        <td>Activo Circulante</td>
        <td>{{getActivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>+</td>
        <td>Activo Fijo</td>
        <td>{{getActivoFijo()|currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>+</td>
        <td>Otros Activos</td>
        <td>-</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Activo Total</td>
        <td>{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr >
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Ventas</td>
        <td>{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Activo Total(promedio)</td>
        <td>{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rotación de activos</td>
        <td>{{getRotacionActivos()}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Pasivo Circulante</td>
        <td>{{getPasivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>+</td>
        <td>Pasivo a Largo Plazo</td>
        <td>{{getPasivoLP()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Pasivo Total</td>
        <td>{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Activo Total</td>
        <td>{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Pasivo Total</td>
        <td>{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <td>=</td>
        <td>Capital Contable</td>
        <td>{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Activo Total</td>
        <td>{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Capital Contable</td>
        <td>{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Palanaca Financiera</td>
        <td>{{getActivoCapitalTotal()}}</td>

      </tr>
    </table>
  </div>




    <div style="margin-top:50px" class="col-8 offset-2">
      <table class="table">
        <thead>
          <th colspan="4">Ratios</th>
        </thead>

        <tr>
          <td bgcolor="DF060A" style="color:white">Solvencia</td>
          <td>Activo Circulante</td>
          <td>{{getActivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getSolvencia()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Pasivo Circulante</td>
          <td>{{getPasivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Solvencia Inmediata</td>
          <td>Activo Disponible</td>
          <td>{{getActivoDisponible()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getSolvenciaInmediata()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Pasivo Circulante</td>
          <td>{{getPasivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Cuentas x Cobrar</td>
          <td>Ventas de Créditos</td>
          <td>{{getVentasACredito()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getRotacionCC()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de c x c</td>
          <td>{{getPromedioCC()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Días promedio de Cartera</td>
          <td>Días del Periodo</td>
          <td>365</td>
          <td bgcolor="DF060A" style="color:white">{{getDiasPPromedioDeCartera()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de c x c</td>
          <td>{{getRotacionCC()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>








        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Cuentas por Pagar</td>
          <td>Compras Netas a Crédito</td>
          <td>{{getComprasNetasCredito()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getRotacionCP()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de cuentas por pagar</td>
          <td>{{getPromedioCP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>





        <tr>
          <td bgcolor="DF060A" style="color:white">Días promedio de c x p</td>
          <td>Días del Periodo</td>
          <td>365</td>
          <td bgcolor="DF060A" style="color:white">{{getDiasPPromedio()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de c x p</td>
          <td>{{getRotacionCP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>





        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación  de I.A.T.</td>
          <td>Costo de lo vendido</td>
          <td>{{getTotalCostosVentas()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getRotacionIAT()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de inv art term</td>
          <td>{{getPromedioInvArtTerm()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Días primedio I.A.T.</td>
          <td>Días del Periodo</td>
          <td>365</td>
          <td bgcolor="DF060A" style="color:white">{{getDiasPromedioIAT()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación I.A.T.</td>
          <td>{{getRotacionIAT()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Materia Prima</td>
          <td>Costo de M.P. empleada</td>
          <td>{{getCostoMPEmpleada()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getRotacionMP()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Prom in mat primas </td>
          <td>{{getPromIMP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Días Promedio I.M.P.</td>
          <td>Días del Periodo</td>
          <td>365</td>
          <td bgcolor="DF060A" style="color:white">{{getDiasPromedioIMP()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de I.M.P.</td>
          <td>{{getRotacionMP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Margen Neto de Utilidad</td>
          <td>Utilidad Neta</td>
          <td>{{getUtilidadNeta()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getMargenNetoUtilidad()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Ventas Totales</td>
          <td>{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Margen Bruto de Utilidad</td>
          <td>Utilidad antes int. e imptos</td>
          <td>{{getUtilidadOperacion()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getMargenBrutoUtilidad()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Ventas Totales</td>
          <td>{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Endeudamiento</td>
          <td>Pasivo Total</td>
          <td>{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getEndeudamiento()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Capital Contable</td>
          <td>{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td>Pasivo Total</td>
          <td>{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getPasivoActivoTotal()}}</td>
        </tr>



        <tr>
          <td></td>
          <td>Activo Total</td>
          <td>{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>Total Activo</td>
          <td>{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getActivoCapitalTotal()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Capital Contable</td>
          <td>{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>

        <tr>
          <td bgcolor="DF060A" style="color:white">Coobertura de Intereses</td>
          <td>Utilidad antes int e imptos</td>
          <td>{{getUtilidadOperacion()|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white">{{getCoberturaIntereses()}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Intereses Pagados</td>
          <td>{{getIntereses()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>

      </table>
    </div>
