
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Análisis de de Rentabilidad sobre el Capital Contable</h2>
    </div>
  </div>




  <div class="col-6 offset-3">
    <table class="table">
      <thead>
        <th colspan="3">Estado de Resultados</th>
      </thead>

      <tr>
        <td></td>
        <td>Ventas</td>
        <td class="text-right">{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Costos</td>
        <td class="text-right">{{getTotalCostosVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>=</td>
        <td>Utilidad Bruta</td>
        <td class="text-right">{{getUtilidadBruta()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Gastos de Operación</td>
        <td class="text-right">{{getGastosDeOperacion()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr >
        <td>=</td>
        <td>Utilidad de Operación</td>
        <td class="text-right">{{getUtilidadOperacion()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Intereses</td>
        <td class="text-right">{{getIntereses()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Utilidad antes de Impuestos</td>
        <td class="text-right">{{getUtilidadAntes()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Impuestos</td>
        <td class="text-right">{{getImpuestos()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Utilidad Neta</td>
        <td class="text-right">{{getUtilidadNeta()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Ventas</td>
        <td class="text-right">{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Margen Neto (%)</td>
        <td class="text-right">{{getMargenNeto()* 100|number:'1.2-2'}}%</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>*</td>
        <td>Rotación de Activos</td>
        <td class="text-right">{{getRotacionActivos()|number:'1.2-2'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rentabilidad de Activos(%)</td>
        <td class="text-right">{{getRentabilidadSobreActivos()* 100|number:'1.2-2'}}%</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>*</td>
        <td>Placa Financiera</td>
        <td class="text-right">{{getActivoCapitalTotal()|number:'1.2-2'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rentabilidad s/Capital Contable</td>
        <td class="text-right">{{getRentabilidadSobreCapital()*100 |number:'1.2-2'}}</td>
      </tr>

    </table>
  </div>

  <div class="row align-items-center" style="margin-bottom:20px">
    <div class="offset-8 col-1">
      Exportar:
    </div>


    <div class="col-1">
      <ngl-icon icon="pdf" category="doctype" (click)="PDFestadoDeResultados()" size="large" style="cursor:pointer" ></ngl-icon>
    </div>


    <div class="col-1">
      <ngl-icon icon="csv" category="doctype" (click)="CSVestadoDeResultados()"  size="large" style="cursor:pointer"></ngl-icon>
    </div>
  </div>


  <div style="margin-top:50px" class="col-6 offset-3">
    <table class="table">
      <thead>
        <th colspan="3">Balance General</th>
      </thead>

      <tr>
        <td></td>
        <td>Activo Circulante</td>
        <td class="text-right">{{getActivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>+</td>
        <td>Activo Fijo</td>
        <td class="text-right">{{getActivoFijo()|currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>+</td>
        <td>Otros Activos</td>
        <td class="text-right">-</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Activo Total</td>
        <td class="text-right">{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr >
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Ventas</td>
        <td class="text-right">{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Activo Total(promedio)</td>
        <td class="text-right">{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rotación de activos</td>
        <td class="text-right">{{getRotacionActivos() |number:'1.2-2'}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Pasivo Circulante</td>
        <td class="text-right">{{getPasivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>+</td>
        <td>Pasivo a Largo Plazo</td>
        <td class="text-right">{{getPasivoLP()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Pasivo Total</td>
        <td class="text-right">{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Activo Total</td>
        <td class="text-right">{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Pasivo Total</td>
        <td class="text-right">{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <td>=</td>
        <td>Capital Contable</td>
        <td class="text-right">{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Activo Total</td>
        <td class="text-right">{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Capital Contable</td>
        <td class="text-right">{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Palanaca Financiera</td>
        <td class="text-right">{{getActivoCapitalTotal() |number:'1.2-2'}}</td>

      </tr>
    </table>
  </div>

  <div class="row align-items-center" style="margin-bottom:20px">
    <div class="offset-8 col-1">
      Exportar:
    </div>


    <div class="col-1">
      <ngl-icon icon="pdf" category="doctype" (click)="PDFbalanceGeneral()" size="large" style="cursor:pointer" ></ngl-icon>
    </div>


    <div class="col-1">
      <ngl-icon icon="csv" category="doctype" (click)="CSVbalanceGeneral()"  size="large" style="cursor:pointer"></ngl-icon>
    </div>
  </div>






    <div style="margin-top:50px" class="col-8 offset-2">
      <table class="table">
        <thead>
          <th colspan="4">Ratios</th>
        </thead>

        <tr>
          <td bgcolor="DF060A" style="color:white">Solvencia</td>
          <td>Activo Circulante</td>
          <td class="text-right">{{getActivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getSolvencia() |number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Pasivo Circulante</td>
          <td class="text-right">{{getPasivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Solvencia Inmediata</td>
          <td>Activo Disponible</td>
          <td class="text-right">{{getActivoDisponible()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getSolvenciaInmediata()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Pasivo Circulante</td>
          <td class="text-right">{{getPasivoCirculante()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Cuentas x Cobrar</td>
          <td>Ventas de Créditos</td>
          <td class="text-right">{{getVentasACredito()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getRotacionCC()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de c x c</td>
          <td class="text-right">{{getPromedioCC()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Días promedio de Cartera</td>
          <td>Días del Periodo</td>
          <td class="text-center">365</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getDiasPPromedioDeCartera()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de c x c</td>
          <td class="text-right">{{getRotacionCC()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>








        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Cuentas por Pagar</td>
          <td>Compras Netas a Crédito</td>
          <td class="text-right">{{getComprasNetasCredito()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getRotacionCP()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de cuentas por pagar</td>
          <td class="text-right">{{getPromedioCP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>





        <tr>
          <td bgcolor="DF060A" style="color:white">Días promedio de c x p</td>
          <td>Días del Periodo</td>
          <td class="text-center">365</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getDiasPPromedio()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de c x p</td>
          <td class="text-right">{{getRotacionCP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>





        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación  de I.A.T.</td>
          <td>Costo de lo vendido</td>
          <td class="text-right">{{getTotalCostosVentas()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getRotacionIAT()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de inv art term</td>
          <td class="text-right">{{getPromedioInvArtTerm()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Días primedio I.A.T.</td>
          <td>Días del Periodo</td>
          <td class="text-center">365</td>
          <td  class="text-right" bgcolor="DF060A" style="color:white">{{getDiasPromedioIAT()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación I.A.T.</td>
          <td class="text-right">{{getRotacionIAT()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Materia Prima</td>
          <td>Costo de M.P. empleada</td>
          <td class="text-right">{{getCostoMPEmpleada()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getRotacionMP()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Prom in mat primas </td>
          <td class="text-right">{{getPromIMP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Días Promedio I.M.P.</td>
          <td>Días del Periodo</td>
          <td class="text-center">365</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getDiasPromedioIMP()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de I.M.P.</td>
          <td class="text-right">{{getRotacionMP()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Margen Neto de Utilidad</td>
          <td>Utilidad Neta</td>
          <td class="text-right">{{getUtilidadNeta()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getMargenNetoUtilidad()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Ventas Totales</td>
          <td class="text-right">{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Margen Bruto de Utilidad</td>
          <td>Utilidad antes int. e imptos</td>
          <td class="text-right">{{getUtilidadOperacion()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getMargenBrutoUtilidad()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Ventas Totales</td>
          <td class="text-right">{{getTotalVentas()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Endeudamiento</td>
          <td>Pasivo Total</td>
          <td class="text-right">{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getEndeudamiento()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Capital Contable</td>c
          <td class="text-right">{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td>Pasivo Total</td>
          <td class="text-right">{{getPasivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getPasivoActivoTotal()|number:'1.2-2'}}</td>
        </tr>



        <tr>
          <td></td>
          <td>Activo Total</td>
          <td class="text-right">{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>Total Activo</td>
          <td class="text-right">{{getActivoTotal()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getActivoCapitalTotal()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Capital Contable</td>
          <td class="text-right">{{getCapitalContable()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>

        <tr>
          <td bgcolor="DF060A" style="color:white">Coobertura de Intereses</td>
          <td>Utilidad antes int e imptos</td>
          <td class="text-right">{{getUtilidadOperacion()|currency:'USD':true:'1.0-0'}}</td>
          <td class="text-right" bgcolor="DF060A" style="color:white">{{getCoberturaIntereses()|number:'1.2-2'}}</td>
        </tr>

        <tr>
          <td></td>
          <td>Intereses Pagados</td>
          <td class="text-right">{{getIntereses()|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>

      </table>
    </div>
    <div class="row align-items-center" style="margin-bottom:20px">
      <div class="offset-8 col-1">
        Exportar:
      </div>


      <div class="col-1">
        <ngl-icon icon="pdf" category="doctype" (click)="PDFratios()" size="large" style="cursor:pointer" ></ngl-icon>
      </div>


      <div class="col-1">
        <ngl-icon icon="csv" category="doctype" (click)="CSVratios()"  size="large" style="cursor:pointer"></ngl-icon>
      </div>
    </div>
