
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Analisis de de Rentabilidad sobre el Capital Contable</h2>
      <hr>
    </div>
  </div>




  <div class="col-6 offset-3">
    <table class="table">
      <thead>
        <th colspan="3">Estado de Resultados</th>
      </thead>

      <tr>
        <td></td>
        <td>Ventas</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Costos</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>=</td>
        <td>Utilidad Bruta</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Gastos de Operación</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr >
        <td>=</td>
        <td>Utilidad de Operación</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Intereses</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Utilidad antes de Impuestos</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Impuestos</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Utilidad Neta</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Ventas</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Margen Neto (%)</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>*</td>
        <td>Rotación de Activos</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rentabilidad de Activos(%)</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>*</td>
        <td>Placa Financiera</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rentabilidad s/Capital Contable</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

    </table>
  </div>




  <div style="margin-top:50px" class="col-6 offset-3">
    <table class="table">
      <thead>
        <th colspan="3">Balance General</th>
      </thead>

      <tr>
        <td></td>
        <td>Activo Circulante</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>+</td>
        <td>Activo Fijo</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>



      <tr>
        <td>+</td>
        <td>Otros Activos</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Activo Total</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr >
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Ventas</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Activo Total(promedio)</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Rotación de activos</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Pasivo Circulante</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>+</td>
        <td>Pasivo a Largo Plazo</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>=</td>
        <td>Pasivo Total</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Activo Total</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>-</td>
        <td>Pasivo Total</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>


      <tr>
        <td>=</td>
        <td>Capital Contable</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td>Activo Total</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr>
        <td>/</td>
        <td>Capital Contable</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>
      </tr>

      <tr bgcolor="DF060A" style="color:white">
        <td>=</td>
        <td>Palanaca Financiera</td>
        <td>{{10|currency:'USD':true:'1.0-0'}}</td>

      </tr>
    </table>
  </div>




    <div style="margin-top:50px" class="col-8 offset-2">
      <table class="table">
        <thead>
          <th colspan="4">Ratios</th>
        </thead>

        <tr>
          <td bgcolor="DF060A" style="color:white">Solvencia</td>
          <td>Activo Circulante</td>
          <td>{{10|currency:'USD':true:'1.0-0'}}</td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Pasivo Circulante</td>
          <td>{{10|currency:'USD':true:'1.0-0'}}</td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Solvencia Inmediata</td>
          <td>Activo Disponible</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Pasivo Circulante</td>
          <td></td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Cuentas x Cobrar</td>
          <td>Ventas de Créditos</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de c x c</td>
          <td></td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Días promedio de Cartera</td>
          <td>Días del Periodo</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de c x c</td>
          <td></td>
          <td></td>
        </tr>








        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Cuentas por Pagar</td>
          <td>Compras Netas a Crédito</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de cuentas por pagar</td>
          <td></td>
          <td></td>
        </tr>





        <tr>
          <td bgcolor="DF060A" style="color:white">Días promedio de c x p</td>
          <td>Días del Periodo</td>
          <td>365</td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de c x p</td>
          <td></td>
          <td></td>
        </tr>





        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación  de I.A.T.</td>
          <td>Costo de lo vendido</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Promedio de inv art term</td>
          <td></td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Días primedio I.A.T.</td>
          <td>Días del Periodo</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación I.A.T.</td>
          <td></td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Rotación de Materia Prima</td>
          <td>Costo de M.P. empleada</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Prom in mat primas </td>
          <td></td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Días Promedio I.M.P.</td>
          <td>Días del Periodo</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Rotación de I.M.P.</td>
          <td></td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Margen Neto de Utilidad</td>
          <td>Utilidad Neta</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Ventas Totales</td>
          <td></td>
          <td></td>
        </tr>




        <tr>
          <td bgcolor="DF060A" style="color:white">Margen Bruto de Utilidad</td>
          <td>Utilidad antes int. e imptos</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Ventas Totales</td>
          <td></td>
          <td></td>
        </tr>



        <tr>
          <td bgcolor="DF060A" style="color:white">Endeudamiento</td>
          <td>Pasivo Total</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Capital Contable</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td>Pasivo Total</td>
          <td></td>
          <td></td>
        </tr>



        <tr>
          <td></td>
          <td>Activo Total</td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>Total Activo</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>Capital Contable</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td bgcolor="DF060A" style="color:white">Coobertura de Intereses</td>
          <td>Utilidad antes int e imptos</td>
          <td></td>
          <td bgcolor="DF060A" style="color:white"></td>
        </tr>

        <tr>
          <td></td>
          <td>Intereses Pagados</td>
          <td></td>
          <td></td>
        </tr>

      </table>
    </div>
