<div class="col-12">
<h3 class="text-center col-12">Demanda Potencial</h3>
<hr>
</div>


<div class="row">
  <div class="col-12" style="height:500px" *ngFor="let zona of graficas; let i=index" >
    <div class="row">
      <h4 class="col-12 text-center">{{zona.nombreZona}}</h4>

  <div class="col-12" style="height:400px;">
    <ngx-charts-line-chart
         [scheme]="scheme[i]"
         [results]="zona.graf"
         xAxis="true"
         legendTitle="Productos"
         yAxis="true"
         legend="true"
         showXAxisLabel="true"
         showYAxisLabel="true"
         xAxisLabel="Periodos"
         yAxisLabel="Demanda Potencial"
         autoScale="true">
       </ngx-charts-line-chart>
  </div>
    </div>




  </div>

</div>
