<table class="table table-bordered  table-responsive" *ngFor="let balance of balanceFinal">

  <tbody>
    <tr class="thead-inverse">
      <th  class="text-center"></th>
      <th  class="text-center ">Año Actual</th>
      <th  class="text-center ">Año Anterior</th>
      <th  class="text-center">Aplicación</th>
      <th  class="text-center">Origen</th>
    </tr>

    <tr  class="thead-inverse">
      <th colspan="5" class="text-center">Derechos</th>
    </tr>

    <tr>
      <th colspan="5" class="text-left">A menos de un año</th>
    </tr>

    <tr>
      <td>Caja Bancos</td>
      <td class="text-right" >{{balance.cajaBancos |currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.cajaBancos |currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.cajaBancos,balanceI.cajaBancos) |currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.cajaBancos,balanceI.cajaBancos) |currency:'USD':true:'1.0-0'}}</td>


    </tr>

    <tr>
      <td>Cuentas por Cobrar</td>
      <td  class="text-right">{{balance.cuentasPorCobrar|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.cuentasPorCobrar|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.cuentasPorCobrar,balanceI.cuentasPorCobrar)|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.cuentasPorCobrar,balanceI.cuentasPorCobrar)|currency:'USD':true:'1.0-0'}}</td>


    </tr>

    <tr>
      <td>IVA Acreditable</td>
      <td class="text-right">{{balance.IVAAcreditable|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial"> {{balanceI.IVAAcreditable|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right"></td>
      <td  class="text-right"></td>


    </tr>

    <tr>
      <td>Almacen de Articulo Terminado</td>
      <td class="text-right">{{balance.almacenArtTerm|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.almacenArtTerm|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.almacenArtTerm,balanceI.almacenArtTerm) |currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.almacenArtTerm,balanceI.almacenArtTerm) |currency:'USD':true:'1.0-0'}}</td>


    </tr>

    <tr>
      <td>Alamacén de Materiales</td>
      <td class="text-right">{{balance.almacenMateriales|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{balance.almacenMateriales|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.almacenMateriales,balanceI.almacenMateriales)|currency:'USD':true:'1.0-0'}}</td>
      <td  class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.almacenMateriales,balanceI.almacenMateriales)|currency:'USD':true:'1.0-0'}}</td>


    </tr>


    <tr>
      <th class="text-left" colspan="5">A más de un año</th>
    </tr>



    <tr>
      <td>Terrenos</td>
      <td class="text-right">{{balance.terreno|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.terreno|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.terreno,balanceI.terreno)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.terreno,balanceI.terreno)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Edificios e Instalaciones</td>
      <td class="text-right">{{balance.edifInsta|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.edifInsta|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.edifInsta,balanceI.edifInsta) |currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.edifInsta,balanceI.edifInstao) |currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Depreciación Acumulada</td>
      <td class="text-right">{{-balance.depEdif|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.depEdif|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.depEdif,-balanceI.depEdif)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.depEdif,-balanceI.depEdif)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Maquinaria y Equipo</td>
      <td class="text-right">{{balance.maqEquipo|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.maqEquipo|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.maqEquipo,balanceI.maqEquipo)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.maqEquipo,balanceI.maqEquipo)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Depreciación Acumulada</td>
      <td class="text-right">{{-balance.depMaqEquipo|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.depMaqEquipo|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.depMaqEquipo,-balanceI.depMaqEquipo) |currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.depMaqEquipo,-balanceI.depMaqEquipo) |currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Muebles y Enseres</td>
      <td class="text-right">{{balance.mueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.mueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.mueblesEnseres,balanceI.mueblesEnseres)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.mueblesEnseres,balanceI.mueblesEnseres)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Depreciación Acumulada</td>
      <td class="text-right">{{-balance.depMueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.depMueblesEnseres|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.depMueblesEnseres,-balanceI.depMueblesEnseres)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.depMueblesEnseres,-balanceI.depMueblesEnseres)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Equipo de Transporte</td>
      <td class="text-right">{{balance.eqTrans|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.eqTrans|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.eqTrans,balanceI.eqTrans)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.eqTrans,balanceI.eqTrans)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Depreciación Acumulada</td>
      <td class="text-right">{{-balance.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.depEqTrans|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.depEqTrans,-balanceI.depEqTrans)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.depEqTrans,-balanceI.depEqTrans)|currency:'USD':true:'1.0-0'}}</td>
    </tr>


    <tr>
      <th colspan="5" class="text-left">De Aplicación Diferida</th>
    </tr>

    <tr>
      <td>Pagos Hechos por anticipado</td>
      <td class="text-right">{{balance.pagosAnticipado|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.pagosAnticipado|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.pagosAnticipado,balanceI.pagosAnticipado)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.pagosAnticipado,balanceI.pagosAnticipado)|currency:'USD':true:'1.0-0'}}</td>



    </tr>

    <tr>
      <td>Gastos por Amortizar</td>
      <td class="text-right">{{balance.gastosAmortizacion|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{balanceI.gastosAmortizacion|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(balance.gastosAmortizacion,balanceI.gastosAmortizacion)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(balance.gastosAmortizacion,balanceI.gastosAmortizacion)|currency:'USD':true:'1.0-0'}}</td>


    </tr>



    <tr class="thead-inverse">
      <th class="text-center" colspan="5">Obligaciones</th>

    </tr>

    <tr>
      <th colspan="5" class="tex-left">A menos de un Año</th>
    </tr>

    <tr>
      <td>IVA por enterar</td>
      <td class="text-right">{{-balance.IVAPorEnterar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.IVAPorEnterar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.IVAPorEnterar,-balanceI.IVAPorEnterar)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.IVAPorEnterar,-balanceI.IVAPorEnterar)|currency:'USD':true:'1.0-0'}}</td>


    </tr>

    <tr>
      <td>Impuestos por Pagar</td>
      <td class="text-right">{{-balance.imptosPorPagar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.imptosPorPagar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.imptosPorPagar,-balanceI.imptosPorPagar)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.imptosPorPagar,-balanceI.imptosPorPagar)|currency:'USD':true:'1.0-0'}}</td>


    </tr>

    <tr>
      <td>Proveedores</td>
      <td class="text-right">{{-balance.proveedores|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.proveedores|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.proveedores,-balanceI.proveedores)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.proveedores,-balanceI.proveedores)|currency:'USD':true:'1.0-0'}}</td>

    </tr>

    <tr>
      <td>PTU por Pagar</td>
      <td class="text-right">{{-balance.PTUPorPagar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.PTUPorPagar|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.PTUPorPagar,-balanceI.PTUPorPagar)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.PTUPorPagar,-balanceI.PTUPorPagar)|currency:'USD':true:'1.0-0'}}</td>


    </tr>

    <tr>
      <td>Préstamos Bancarios</td>
      <td class="text-right">{{-balance.prestamosMenosAnio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.prestamosMenosAnio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.prestamosMenosAnio,-balanceI.prestamosMenosAnio)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.prestamosMenosAnio,-balanceI.prestamosMenosAnio)|currency:'USD':true:'1.0-0'}}</td>

    </tr>

    <tr>
      <th colspan="5" class="text-left">A más de un Año</th>
    </tr>

    <tr>
      <td>Prestamos Totales</td>
      <td class="text-right">{{-balance.prestamosMasAnio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.prestamosMasAnio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.prestamosMasAnio,-balanceI.prestamosMasAnio)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.prestamosMasAnio,-balanceI.prestamosMasAnio)|currency:'USD':true:'1.0-0'}}</td>

    </tr>

    <tr class="thead-inverse">
      <th colspan="5" class="text-center">Con los Accionistas</th>
    </tr>

    <tr>
      <td>Capital Social</td>
      <td class="text-right">{{-balance.capitalSocial|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.capitalSocial|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.capitalSocial,-balanceI.capitalSocial)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.capitalSocial,-balanceI.capitalSocial)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Reserva legal</td>
      <td class="text-right">{{-balance.reservaLegal|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.reservaLegal|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.reservaLegal,-balanceI.reservaLegal)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.reservaLegal,-balanceI.reservaLegal)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td>Utilidad Acumulada</td>
      <td class="text-right">{{-balance.utilidadAcum|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{-balanceI.utilidadEjercicio|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.utilidadAcum,-balanceI.utilidadEjercicio)|currency:'USD':true:'1.0-0'}}</td>
      <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.utilidadAcum,-balanceI.utilidadEjercicio)|currency:'USD':true:'1.0-0'}}</td>
    </tr>

    <tr>
      <td >Utilidad del Ejercicio</td>
        <td class="text-right">{{-balance.utilidadEjercicio|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right" *ngFor="let balanceI of balanceInicial">{{0|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getAplicacionCB(-balance.utilidadEjercicio,0)|currency:'USD':true:'1.0-0'}}</td>
        <td class="text-right" *ngFor="let balanceI of balanceInicial">{{getOrigenCB(-balance.utilidadEjercicio,0)|currency:'USD':true:'1.0-0'}}</td>

    </tr>

    <tr>
      <th>Total</th>
      <th class="text-right">{{0|currency:'USD':true:'1.0-0'}}</th>
      <th class="text-right">{{0|currency:'USD':true:'1.0-0'}}</th>
      <th class="text-right">{{origen |currency:'USD':true:'1.0-0'}}</th>
      <th class="text-right">{{origen |currency:'USD':true:'1.0-0'}}</th>
    </tr>

  </tbody>
</table>
